<!doctype html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/login.css">
    <title>管理员登录</title>
</head>
<body>
<div class="login_area" ng-app="login" ng-controller="LoginController">
    <div class="login_header">
        管理员登录
    </div>
    <div class="login_body">
        <label for="username">账号：</label>
        <input type="text" id="username" ng-model="username"/><br/><br/>
        <label for="password">密码：</label>
        <input type="password" id="password" ng-model="password"/><br/><br/>
        <label for="kaptcha">验证码：</label>
        <input type="text" id="kaptcha" name="kaptcha" ng-model="kaptcha"/>
        <img id="kaptchaImage" align="middle" src="kaptcha/kaptcha.jpg" title="看不清，点击换一张"
             ng-click="refreshImage()"/>

        <p class="error_message" ng-show="isError">登录失败！</p>
    </div>
    <div class="login_footer">
        <a href="javascript:;" class="btn login" ng-click="login()">登录</a>
        <a href="register.html" class="btn register">注册</a>
    </div>
</div>
<script src="js/lib/angular.min.js"></script>
<script src="js/login/login.js"></script>
</body>
</html>