<table>
	<tr>
		<th>合肖</th>
		<th>赔率</th>
		<th>操作</th>
		<th>合肖</th>
		<th>赔率</th>
		<th>操作</th>
		<th>合肖</th>
		<th>赔率</th>
		<th>操作</th>
		<th>合肖</th>
		<th>赔率</th>
		<th>操作</th>
	</tr>
	<tr>
		<td>1肖中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#11'].odds" id="{{oddsMap['SUM_ZODIAC#11'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#11'].id, oddsMap['SUM_ZODIAC#11'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
        <td>1肖不中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#10'].odds" id="{{oddsMap['SUM_ZODIAC#10'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#10'].id, oddsMap['SUM_ZODIAC#10'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
        <td>2肖中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#21'].odds" id="{{oddsMap['SUM_ZODIAC#21'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#21'].id, oddsMap['SUM_ZODIAC#21'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
        <td>2肖不中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#20'].odds" id="{{oddsMap['SUM_ZODIAC#20'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#20'].id, oddsMap['SUM_ZODIAC#20'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
    </tr>
    <tr>
        <td>3肖中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#31'].odds" id="{{oddsMap['SUM_ZODIAC#31'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#31'].id, oddsMap['SUM_ZODIAC#31'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
        <td>3肖不中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#30'].odds" id="{{oddsMap['SUM_ZODIAC#30'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#30'].id, oddsMap['SUM_ZODIAC#30'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
        <td>4肖中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#41'].odds" id="{{oddsMap['SUM_ZODIAC#41'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#41'].id, oddsMap['SUM_ZODIAC#41'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
        <td>4肖不中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#40'].odds" id="{{oddsMap['SUM_ZODIAC#40'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#40'].id, oddsMap['SUM_ZODIAC#40'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
	</tr>
	<tr>
        <td>5肖中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#51'].odds" id="{{oddsMap['SUM_ZODIAC#51'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#51'].id, oddsMap['SUM_ZODIAC#51'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
        <td>5肖不中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#50'].odds" id="{{oddsMap['SUM_ZODIAC#50'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#50'].id, oddsMap['SUM_ZODIAC#50'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
        <td>6肖中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#61'].odds" id="{{oddsMap['SUM_ZODIAC#61'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#61'].id, oddsMap['SUM_ZODIAC#61'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
        <td>6肖不中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#60'].odds" id="{{oddsMap['SUM_ZODIAC#60'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#60'].id, oddsMap['SUM_ZODIAC#60'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
	</tr>
	<tr>
        <td>7肖中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#71'].odds" id="{{oddsMap['SUM_ZODIAC#71'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#71'].id, oddsMap['SUM_ZODIAC#71'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
        <td>7肖不中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#70'].odds" id="{{oddsMap['SUM_ZODIAC#70'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#70'].id, oddsMap['SUM_ZODIAC#70'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
        <td>8肖中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#81'].odds" id="{{oddsMap['SUM_ZODIAC#81'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#81'].id, oddsMap['SUM_ZODIAC#81'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
        <td>8肖不中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#80'].odds" id="{{oddsMap['SUM_ZODIAC#80'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#80'].id, oddsMap['SUM_ZODIAC#80'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
	</tr>
	<tr>
        <td>9肖中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#91'].odds" id="{{oddsMap['SUM_ZODIAC#91'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#91'].id, oddsMap['SUM_ZODIAC#91'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
        <td>9肖不中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#90'].odds" id="{{oddsMap['SUM_ZODIAC#90'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#90'].id, oddsMap['SUM_ZODIAC#90'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
        <td>10肖中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#81'].odds" id="{{oddsMap['SUM_ZODIAC#101'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#101'].id, oddsMap['SUM_ZODIAC#101'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
        <td>10肖不中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#100'].odds" id="{{oddsMap['SUM_ZODIAC#100'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#100'].id, oddsMap['SUM_ZODIAC#100'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
	</tr>
	<tr>
        <td>11肖中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#111'].odds" id="{{oddsMap['SUM_ZODIAC#111'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#111'].id, oddsMap['SUM_ZODIAC#111'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
        <td>11肖不中</td>
		<td ng-bind="oddsMap['SUM_ZODIAC#110'].odds" id="{{oddsMap['SUM_ZODIAC#110'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['SUM_ZODIAC#110'].id, oddsMap['SUM_ZODIAC#110'].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
        <td colspan="4"></td>
	</tr>
</table>