body{
	background:#eee;
	font-size:14px;
	color:#666;
}

.agreement_area{
	margin:30px auto auto auto;
	width:800px;
	border:2px solid #dedede;
	background:white;
}

.agreement_header{
	font-size:1.4em;
	font-weight:bold;
	color:white;
	background:#1FADFB;
	padding:10px 20px 10px 20px;
}

.agreement_body{
	padding:20px;
}

.agreement_footer{
	background:#dedede;
	height:40px;
}

.btn{
	border:1px solid #04A21F;
	background:#24C578;
	color:white;
	font-size:1.1em;
	display:block;
	width:100px;
	line-height:28px;
	text-align:center;
	text-decoration:none;
	margin-right:20px;
	border-radius:5px;
	margin-top:5px;
	float:right;
}

.btn:hover{
	background:#1CE845;
}