.ball1 {
    background: red;
}

.ball2 {
    background: red;
}

.ball3 {
    background: blue;
}

.ball4 {
    background: blue;
}

.ball5 {
    background: green;
}

.ball6 {
    background: green;
}

.ball7 {
    background: red;
}

.ball8 {
    background: red;
}

.ball9 {
    background: blue;
}

.ball10 {
    background: blue;
}

.ball11 {
    background: green;
}

.ball12 {
    background: red;
}

.ball13 {
    background: red;
}

.ball14 {
    background: blue;
}

.ball15 {
    background: blue;
}

.ball16 {
    background: green;
}

.ball17 {
    background: green;
}

.ball18 {
    background: red;
}

.ball19 {
    background: red;
}

.ball20 {
    background: blue;
}

.ball21 {
    background: green;
}

.ball22 {
    background: green;
}

.ball23 {
    background: red;
}

.ball24 {
    background: red;
}

.ball25 {
    background: blue;
}

.ball26 {
    background: blue;
}

.ball27 {
    background: green;
}

.ball28 {
    background: green;
}

.ball29 {
    background: red;
}

.ball30 {
    background: red;
}

.ball31 {
    background: blue;
}

.ball32 {
    background: green;
}

.ball33 {
    background: green;
}

.ball34 {
    background: red;
}

.ball35 {
    background: red;
}

.ball36 {
    background: blue;
}

.ball37 {
    background: blue;
}

.ball38 {
    background: green;
}

.ball39 {
    background: green;
}

.ball40 {
    background: red;
}

.ball41 {
    background: blue;
}

.ball42 {
    background: blue;
}

.ball43 {
    background: green;
}

.ball44 {
    background: green;
}

.ball45 {
    background: red;
}

.ball46 {
    background: red;
}

.ball47 {
    background: blue;
}

.ball48 {
    background: blue;
}

.ball49 {
    background: green;
}

