body {
	background: #eee;
	font-size: 14px;
	color: #666;
	margin: 0px;
}

.btn {
	border: 1px solid #04A21F;
	background: #24C578;
	color: white;
	font-size: 1.1em;
	display: block;
	width: 50px;
	line-height: 28px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	cursor:pointer;
}

.btn:hover {
	background: #1CE845;
}

.nav {
	height: 120px;
}

.section {
	width: 1190px;
	margin-left: auto;
	margin-right: auto;
}

.sidebar {
	float: left;
	width: 300px;
	height: 500px;
}

.content {
	float: left;
	width: 870px;
	margin-top:15px;
	margin-left:15px;
	margin-bottom:40px;
}

.menu_logo {
	background: #1FADFB;
	height: 80px;
}

.logo{
	width: 1190px;
	margin: 0px auto;
	padding:10px;
	height:60px;
}

.logo>span{
	margin-left:20px;
	margin-right:20px;
	font-size:1.5em;
	color:white;
	font-weight:bold;
}

.menu_bar {
	background: #333;
	height: 40px;
}

.menu_item_list {
	width: 1190px;
	margin: 0px auto;
	list-style: none;
	padding:0px;
}

.menu_item {
	float: left;
}

.menu_user_info{
	float: right;
	color: white;
	line-height: 40px;
}

.menu_user_info>a{
	cursor: pointer;
	color: white;
	text-decoration: none;
}

.menu_item>a {
	color: white;
	text-decoration: none;
	display: block;
	height: 30px;
	line-height: 30px;
	padding: 5px 20px 5px 20px;
	cursor: pointer;
}

.menu_item>a:hover, .menu_item.current {
	background: #898989;
}

.side_area {
	border: 1px solid #dedede;
	border-bottom-width:3px;
	background: white;
	margin-top: 15px;
}

.side_header {
	color: white;
	background: #333;;
	text-align: center;
	padding: 10px;
}

.side_body table {
	width: 90%;
	margin: 5px auto;
	border-collapse: collapse;
}

.side_body table th, .side_body table td {
	padding: 5px;
	text-align: center;
}

.side_body table th {
	font-weight: bold;
	background: #BAE4FB;
}

.side_body table tr:nth-child(odd) {
	background: #FDFDCE;
}

.clear{
	clear:both;
}

.ball{
	color: white;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    float: left;
    line-height: 25px;
    margin-left:2px;
    text-align: center;
}

.red{
	background:red;
}

.blue{
	background:blue;
}

.green{
	background:green;
}

#live_video{
	width:300px;
	height:300px;
	overflow:hidden;
    position: relative;
}

#live_video>iframe{
	position:relative;
	left:-11px;
}

.footer_area{
	text-align:center;
	line-height:60px;
	width:1190px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:40px;
	border-top:1px solid #888;
	clear:left;
}