@import url("common.css");

.tab_bar{
	overflow: hidden;
}

.tab_item{
	border-bottom:1px solid #dedede;
	border-right:1px solid #dedede;
	width:65.8px;
	float:left;
	text-align:center;
	padding-top:9px;
	padding-bottom:9px;
	background:#1FADFB;
	color:white;
	cursor:pointer;
}

.tab_item:hover{
	background:#1FC1FB;
}

.tab_item.selected{
	border-bottom:none;
	background:white;
	color:#666;
}

.tab_item:last-child{
	border-right:none;
}

.error_content{
	font-weight:bold;
	text-align:center;
	font-size:1.5em;
	color:red;
	padding-top:30px;
	padding-bottom:30px;
	display:none;
}

.content{
	background:white;
	border: 1px solid #dedede;
	border-radius:15px;
	padding-bottom:15px;
}

.content table{
	width:90%;
	border-collapse: collapse;
	background:white;
	margin:0px auto;
	border:1px solid #1FADFB;
}

.zodiac_table{
	width:420px !important;
	float:left !important;
	margin-left:10px !important;
}

.content table td{
	padding:5px;
	text-align:center;
}

.content table th{
	color:white;
	background:#1FADFB;
	padding:10px;
	border-right:1px solid #fff;
	text-align:center;
}

.vertical_th{
	border-top:1px solid #fff;
}

.content table th:last-child{
	border-right:1px solid #1FADFB;
}

.content table tr:nth-child(odd) {
	background: #FDFDCE;
}

.odds{
	float: left;
    line-height: 25px;
    margin-left: 25px;
}

input[type=radio], input[type=checkbox]{
	cursor:pointer;
	width:20px;
	height:20px;
	vertical-align: middle;
}

.color_td{
	color:white;
}

.bet{
	margin-left:auto;
	margin-right:auto;
}

.second_head_row>th{
	border-top:1px solid #eee;
	font-weight:normal;
}

label{
	margin-right:10px;
}

.group_area{
	margin: 15px 0px 15px 42px;
}

.stakes_input{
	line-height:20px;
	border:1px solid #999;
	width: 35px;
}

.ng-invalid{
	background:#f98baf;
}

.wage_area{
	width:100%;
	margin-top:10px;	
	border-top: 1px solid #dedede;
	text-align:center;
}

.wage_area .btn{
    margin-top:5px;
    float:left;
}

.quick_choose{
	float:left;
	margin-left:16px;
}

.quick_choose input[type=checkbox]{
	margin-top:10px;
}

.dialog{
	position:fixed;
	top:50px;
	left:50%;
	margin-left:-200px;
	width:400px;
	top:50%;
	height:400px;
	margin-top:-200px;
	z-index:999;
	background:white;
	border:2px solid #dedede;
	border-radius:10px;
	padding:10px;
}

.dialog_title{
	font-size:1.1em;
	font-weight:bold;
	line-height:25px;
	border-bottom:2px solid #dedede;
}

.dialog_body{
	border-bottom:2px solid #dedede;
	height:300px;
	padding-top:10px;
	padding-bottom:10px;
	overflow:auto;
}

.dialog_bottom{
	padding:10px;
}

.error_message{
	color:red;
	font-weight:bold;
}