@import url("common.css");

.section{
	margin-top:15px;
	margin-bottom:40px;
}

.rules{
	background:white;
	padding:20px;
	margin-bottom:30px;
	border: 1px solid #dedede;
}

.rule_title{
	border-bottom: 1px solid #666;
	font-size:18px;
	font-weight:bold;
	line-height:30px;
}