<div class="real-time-dashboard">
    <div ng-repeat="subs in specialList">
        <table>
            <thead>
            <tr>
                <th>号码</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rt in subs">
                <td><span ng-bind="rt.number" class="ball ball{{rt.number}}"></span></td>
                <td ng-bind="rt.transactions"></td>
                <td>
                    <a ng-show="rt.stakes > 0"
                       href="#/stakesdetail/groupid/{{groupid}}/pan/{{selectedPan.name}}/special/issue/{{lotteryMarkSixInfo.issue}}/ball/{{rt.number}}"><span
                            ng-bind="rt.stakes"></span></a>
                    <span ng-show="rt.stakes == 0">0</span>
                </td>
                <td ng-bind="rt.odds"></td>
                <td ng-bind="rt.balance" ng-class="{'text-danger':rt.balance<0, 'text-success':rt.balance>0}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    合计：<strong ng-bind="stats.specialTransactions"></strong> 笔,&nbsp;金额：<strong ng-bind="stats.specialStakes"></strong>
</div>

<div class="real-time-dashboard">
    <div ng-repeat="subs in twoFacesKeyList">
        <table>
            <thead>
            <tr>
                <th>类别</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="key in subs">
                <td><span ng-bind="twoFacesNameMap[key]" class="type"></span></td>
                <td ng-bind="twoFacesMap[key].transactions"></td>
                <td>
                    <a ng-show="twoFacesMap[key].stakes > 0"
                       href="#/stakesdetail/groupid/{{groupid}}/pan/{{selectedPan.name}}/two_faces/issue/{{lotteryMarkSixInfo.issue}}/ball/0?subtype={{twoFacesMap[key].lotteryMarkSixType}}"><span
                            ng-bind="twoFacesMap[key].stakes"></span></a>
                    <span ng-show="twoFacesMap[key].stakes == 0">0</span>
                </td>
                <td ng-bind="twoFacesMap[key].odds"></td>
                <td ng-bind="twoFacesMap[key].balance" ng-class="{'text-danger':twoFacesMap[key].balance<0, 'text-success':twoFacesMap[key].balance>0}"></td>
            </tr>
            <tr>
                <td>合计</td>
                <td><strong ng-bind="twoFacesMap[subs[0]].transactions + twoFacesMap[subs[1]].transactions"></strong>
                </td>
                <td><strong ng-bind="twoFacesMap[subs[0]].stakes + twoFacesMap[subs[1]].stakes"></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="real-time-dashboard lottery-zodiac">
    <div ng-repeat="subs in zodiacList">
        <table>
            <thead>
            <tr>
                <th>生肖</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rt in subs">
                <td><span ng-bind="rt.lotteryMarkSixTypeName" class="type"></span></td>
                <td ng-bind="rt.transactions"></td>
                <td>
                    <a ng-show="rt.stakes > 0"
                       href="#/stakesdetail/groupid/{{groupid}}/pan/{{selectedPan.name}}/{{rt.lotteryMarkSixType}}/issue/{{lotteryMarkSixInfo.issue}}/ball/0"><span
                            ng-bind="rt.stakes"></span></a>
                    <span ng-show="rt.stakes == 0">0</span>
                </td>
                <td ng-bind="rt.odds"></td>
                <td ng-bind="rt.balance"  ng-class="{'text-danger':rt.balance<0, 'text-success':rt.balance>0}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="margin-left: 10px">
        <table>
            <thead>
            <tr>
                <th>类别</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="key in animalTypeKeyList">
                <td><span ng-bind="twoFacesNameMap[key]" class="type"></span></td>
                <td ng-bind="twoFacesMap[key].transactions"></td>
                <td>
                    <a ng-show="twoFacesMap[key].stakes > 0"
                       href="#/stakesdetail/groupid/{{groupid}}/pan/{{selectedPan.name}}/two_faces/issue/{{lotteryMarkSixInfo.issue}}/ball/0?subtype={{twoFacesMap[key].lotteryMarkSixType}}"><span
                            ng-bind="twoFacesMap[key].stakes"></span></a>
                    <span ng-show="twoFacesMap[key].stakes == 0">0</span>
                </td>
                <td ng-bind="twoFacesMap[key].odds"></td>
                <td ng-bind="twoFacesMap[key].balance" ng-class="{'text-danger':twoFacesMap[key].balance<0, 'text-success':twoFacesMap[key].balance>0}"></td>
            </tr>
            <tr>
                <td>合计</td>
                <td><strong
                        ng-bind="twoFacesMap[animalTypeKeyList[0]].transactions + twoFacesMap[animalTypeKeyList[1]].transactions"></strong>
                </td>
                <td><strong
                        ng-bind="twoFacesMap[animalTypeKeyList[0]].stakes + twoFacesMap[animalTypeKeyList[1]].stakes"></strong>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    合计：<strong ng-bind="stats.zodiacTransactions"></strong>,&nbsp;金额：<strong ng-bind="stats.zodiacStakes"></strong>
</div>

<div class="real-time-dashboard">
    <div ng-repeat="col in [0,1,2,3]">
        <table>
            <thead>
            <tr>
                <th>半波</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="color in [0,1,2]">
                <td><span ng-bind="halfWaveList[color][col].lotteryMarkSixTypeName" class="type"></span></td>
                <td ng-bind="halfWaveList[color][col].transactions"></td>
                <td>
                    <a ng-show="halfWaveList[color][col].stakes > 0"
                       href="#/stakesdetail/groupid/{{groupid}}/pan/{{selectedPan.name}}/{{halfWaveList[color][col].lotteryMarkSixType}}/issue/{{lotteryMarkSixInfo.issue}}/ball/0"><span
                            ng-bind="halfWaveList[color][col].stakes"></span></a>
                    <span ng-show="halfWaveList[color][col].stakes == 0">0</span>
                </td>
                <td ng-bind="halfWaveList[color][col].odds"></td>
                <td ng-bind="halfWaveList[color][col].balance" ng-class="{'text-danger':halfWaveList[color][col].balance<0, 'text-success':halfWaveList[color][col].balance>0}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="margin-left: 10px">
        <table>
            <thead>
            <tr>
                <th>类别</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="key in weidaKeyList">
                <td><span ng-bind="'特' + twoFacesNameMap[key]" class="type"></span></td>
                <td ng-bind="twoFacesMap[key].transactions"></td>
                <td>
                    <a ng-show="twoFacesMap[key].stakes > 0"
                       href="#/stakesdetail/groupid/{{groupid}}/pan/{{selectedPan.name}}/two_faces/issue/{{lotteryMarkSixInfo.issue}}/ball/0?subtype={{twoFacesMap[key].lotteryMarkSixType}}"><span
                            ng-bind="twoFacesMap[key].stakes"></span></a>
                    <span ng-show="twoFacesMap[key].stakes == 0">0</span>
                </td>
                <td ng-bind="twoFacesMap[key].odds"></td>
                <td ng-bind="twoFacesMap[key].balance" ng-class="{'text-danger':twoFacesMap[key].balance<0, 'text-success':twoFacesMap[key].balance>0}"></td>
            </tr>
            <tr>
                <td>合计</td>
                <td><strong
                        ng-bind="twoFacesMap[weidaKeyList[0]].transactions + twoFacesMap[weidaKeyList[1]].transactions"></strong>
                </td>
                <td><strong
                        ng-bind="twoFacesMap[weidaKeyList[0]].stakes + twoFacesMap[weidaKeyList[1]].stakes"></strong>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    合计：<strong ng-bind="stats.halfWaveTransactions"></strong>,&nbsp;金额：<strong ng-bind="stats.halfWaveStakes"></strong>
</div>

<div class="real-time-dashboard">
    <div>
        <table>
            <thead>
            <tr>
                <th>色波</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rt in colorList">
                <td><span ng-bind="rt.lotteryMarkSixTypeName" class="type"></span></td>
                <td ng-bind="rt.transactions"></td>
                <td>
                    <a ng-show="rt.stakes > 0"
                       href="#/stakesdetail/groupid/{{groupid}}/pan/{{selectedPan.name}}/{{rt.lotteryMarkSixType}}/issue/{{lotteryMarkSixInfo.issue}}/ball/0"><span
                            ng-bind="rt.stakes"></span></a>
                    <span ng-show="rt.stakes == 0">0</span>
                </td>
                <td ng-bind="rt.odds"></td>
                <td ng-bind="rt.balance" ng-class="{'text-danger':rt.balance<0, 'text-success':rt.balance>0}"></td>
            </tr>
            <tr>
                <td>合计</td>
                <td><strong ng-bind="stats.colorTransactions"></strong></td>
                <td><strong ng-bind="stats.colorStakes"></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="margin-left: 10px">
        <table>
            <thead>
            <tr>
                <th>特大中小</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rt in bsTypeList">
                <td><span ng-bind="rt" class="type"></span></td>
                <td ng-bind="0"></td>
                <td ng-bind="0"></td>
                <td ng-bind="0"></td>
                <td ng-bind="0"></td>
            </tr>
            <tr>
                <td>合计</td>
                <td><strong ng-bind="0"></strong></td>
                <td><strong ng-bind="0"></strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>