<div class="real-time-dashboard lottery-special-number" ng-repeat="list in sumZodiacList">
    <div ng-repeat="subs in list">
        <table>
            <thead>
            <tr>
                <th><span ng-bind="getSumZodiacName(subs[0].number)"></span>肖</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rt in subs">
                <td><span ng-if="$index==0">中</span><span ng-if="$index==1">不中</span></td>
                <td ng-bind="rt.transactions"></td>
                <td>
                    <a ng-if="rt.stakes > 0" href="#/stakesdetail/groupid/{{groupid}}/pan/{{selectedPan.name}}/sum_zodiac/issue/{{lotteryMarkSixInfo.issue}}/ball/{{rt.number}}"><span
                            ng-bind="rt.stakes"></span></a>
                    <span ng-if="rt.stakes == 0">0</span>                            
                </td>
                <td ng-bind="rt.odds"></td>
                <td ng-bind="rt.balance"></td>
            </tr>
            <tr>
                <td>合计</td>
                <td><strong ng-bind="subs[0].transactions + subs[1].transactions"></strong></td>
                <td><strong ng-bind="subs[0].stakes + subs[1].stakes"></strong></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
