
<div style="margin-top: 15px">
    <label>请选择连肖类型</label>
    <select ng-model="jointZodiacType">
    	<option value="2">二连肖</option>
    	<option value="3">三连肖</option>
    	<option value="4">四连肖</option>
    	<option value="5">五连肖</option>
    </select>
</div>

<table style="width:45%;float:left;">
	<tr>
		<th>平肖</th>
		<th>退水</th>
		<th>操作</th>
	</tr>
	<tr ng-repeat="zodiac in ['ZODIAC_SHU','ZODIAC_NIU','ZODIAC_HU','ZODIAC_TU','ZODIAC_LONG','ZODIAC_SHE','ZODIAC_MA','ZODIAC_YANG','ZODIAC_HOU','ZODIAC_JI','ZODIAC_GOU','ZODIAC_ZHU']">
		<td>{{zodiacTypeMap[zodiac]}}</td>
		<td ng-bind="tuishuiMap['JOINT_ZODIAC_PING#'+jointZodiacType+'#'+zodiac].tuishui" id="{{tuishuiMap['JOINT_ZODIAC_PING#'+jointZodiacType+'#'+zodiac].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['JOINT_ZODIAC_PING#'+jointZodiacType+'#'+zodiac].id, tuishuiMap['JOINT_ZODIAC_PING#'+jointZodiacType+'#'+zodiac].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
	</tr>
</table>

<table style="width:45%;float:right;">
	<tr>
		<th>正肖</th>
		<th>退水</th>
		<th>操作</th>
	</tr>
	<tr ng-repeat="zodiac in ['ZODIAC_SHU','ZODIAC_NIU','ZODIAC_HU','ZODIAC_TU','ZODIAC_LONG','ZODIAC_SHE','ZODIAC_MA','ZODIAC_YANG','ZODIAC_HOU','ZODIAC_JI','ZODIAC_GOU','ZODIAC_ZHU']">
		<td>{{zodiacTypeMap[zodiac]}}</td>
		<td ng-bind="tuishuiMap['JOINT_ZODIAC_ZHENG#'++jointZodiacType+'#'+zodiac].tuishui" id="{{tuishuiMap['JOINT_ZODIAC_ZHENG#'++jointZodiacType+'#'+zodiac].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['JOINT_ZODIAC_ZHENG#'++jointZodiacType+'#'+zodiac].id, tuishuiMap['JOINT_ZODIAC_ZHENG#'++jointZodiacType+'#'+zodiac].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
	</tr>
</table>