<table>
	<tr>
		<th>类型</th>
		<th>退水</th>
		<th>操作</th>
		<th>类型</th>
		<th>退水</th>
		<th>操作</th>
		<th>类型</th>
		<th>退水</th>
		<th>操作</th>
		<th>类型</th>
		<th>退水</th>
		<th>操作</th>
	</tr>
	<tr>
		<td>五不中</td>
		<td ng-bind="tuishuiMap['NOT_5'].tuishui" id="{{tuishuiMap['NOT_5'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['NOT_5'].id, tuishuiMap['NOT_5'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
		<td>六不中</td>
		<td ng-bind="tuishuiMap['NOT_6'].tuishui" id="{{tuishuiMap['NOT_6'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['NOT_6'].id, tuishuiMap['NOT_6'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
		<td>七不中</td>
		<td ng-bind="tuishuiMap['NOT_7'].tuishui" id="{{tuishuiMap['NOT_7'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['NOT_7'].id, tuishuiMap['NOT_7'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
		<td>八不中</td>
		<td ng-bind="tuishuiMap['NOT_8'].tuishui" id="{{tuishuiMap['NOT_8'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['NOT_8'].id, tuishuiMap['NOT_8'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
	</tr>
	<tr>
		<td>九不中</td>
		<td ng-bind="tuishuiMap['NOT_9'].tuishui" id="{{tuishuiMap['NOT_9'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['NOT_9'].id, tuishuiMap['NOT_9'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
		<td>十不中</td>
		<td ng-bind="tuishuiMap['NOT_10'].tuishui" id="{{tuishuiMap['NOT_10'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['NOT_10'].id, tuishuiMap['NOT_10'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
		<td>十一不中</td>
		<td ng-bind="tuishuiMap['NOT_11'].tuishui" id="{{tuishuiMap['NOT_11'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['NOT_11'].id, tuishuiMap['NOT_11'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
		<td>十二不中</td>
		<td ng-bind="tuishuiMap['NOT_12'].tuishui" id="{{tuishuiMap['NOT_12'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['NOT_12'].id, tuishuiMap['NOT_12'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
	</tr>
</table>