<table>
	<tr>
		<th>半波</th>
		<th>退水</th>
		<th>操作</th>
		<th>半波</th>
		<th>退水</th>
		<th>操作</th>
		<th>半波</th>
		<th>退水</th>
		<th>操作</th>
		<th>半波</th>
		<th>退水</th>
		<th>操作</th>
	</tr>
	<tr>
		<td>特单</td>
		<td ng-bind="tuishuiMap['TWO_FACES#DAN'].tuishui" id="{{tuishuiMap['TWO_FACES#DAN'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['TWO_FACES#DAN'].id, tuishuiMap['TWO_FACES#DAN'].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
        <td>特双</td>
		<td ng-bind="tuishuiMap['TWO_FACES#SHUANG'].tuishui" id="{{tuishuiMap['TWO_FACES#SHUANG'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['TWO_FACES#SHUANG'].id, tuishuiMap['TWO_FACES#SHUANG'].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
        <td>特大</td>
		<td ng-bind="tuishuiMap['TWO_FACES#DA'].tuishui" id="{{tuishuiMap['TWO_FACES#DA'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['TWO_FACES#DA'].id, tuishuiMap['TWO_FACES#DA'].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
        <td>特小</td>
		<td ng-bind="tuishuiMap['TWO_FACES#XIAO'].tuishui" id="{{tuishuiMap['TWO_FACES#XIAO'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['TWO_FACES#XIAO'].id, tuishuiMap['TWO_FACES#XIAO'].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
	</tr>
	<tr>
		<td>合单</td>
		<td ng-bind="tuishuiMap['TWO_FACES#HEDAN'].tuishui" id="{{tuishuiMap['TWO_FACES#HEDAN'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['TWO_FACES#HEDAN'].id, tuishuiMap['TWO_FACES#HEDAN'].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
        <td>合双</td>
		<td ng-bind="tuishuiMap['TWO_FACES#HESHUANG'].tuishui" id="{{tuishuiMap['TWO_FACES#HESHUANG'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['TWO_FACES#HESHUANG'].id, tuishuiMap['TWO_FACES#HESHUANG'].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
        <td>合大</td>
		<td ng-bind="tuishuiMap['TWO_FACES#HEDA'].tuishui" id="{{tuishuiMap['TWO_FACES#HEDA'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['TWO_FACES#HEDA'].id, tuishuiMap['TWO_FACES#HEDA'].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
        <td>合小</td>
		<td ng-bind="tuishuiMap['TWO_FACES#HEXIAO'].tuishui" id="{{tuishuiMap['TWO_FACES#HEXIAO'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['TWO_FACES#HEXIAO'].id, tuishuiMap['TWO_FACES#HEXIAO'].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
	</tr>
	<tr>
		<td>尾大</td>
		<td ng-bind="tuishuiMap['TWO_FACES#WEIDA'].tuishui" id="{{tuishuiMap['TWO_FACES#WEIDA'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['TWO_FACES#WEIDA'].id, tuishuiMap['TWO_FACES#WEIDA'].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
        <td>尾小</td>
		<td ng-bind="tuishuiMap['TWO_FACES#WEIXIAO'].tuishui" id="{{tuishuiMap['TWO_FACES#WEIXIAO'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['TWO_FACES#WEIXIAO'].id, tuishuiMap['TWO_FACES#WEIXIAO'].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
        <td>合尾大</td>
		<td ng-bind="tuishuiMap['TWO_FACES#HEWEIDA'].tuishui" id="{{tuishuiMap['TWO_FACES#HEWEIDA'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['TWO_FACES#HEWEIDA'].id, tuishuiMap['TWO_FACES#HEWEIDA'].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
        <td>合尾小</td>
		<td ng-bind="tuishuiMap['TWO_FACES#HEWEIXIAO'].tuishui" id="{{tuishuiMap['TWO_FACES#HEWEIXIAO'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['TWO_FACES#HEWEIXIAO'].id, tuishuiMap['TWO_FACES#HEWEIXIAO'].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
	</tr>
	<tr>
		<td>家禽</td>
		<td ng-bind="tuishuiMap['TWO_FACES#JIAQIN'].tuishui" id="{{tuishuiMap['TWO_FACES#JIAQIN'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['TWO_FACES#JIAQIN'].id, tuishuiMap['TWO_FACES#JIAQIN'].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
        <td>野兽</td>
		<td ng-bind="tuishuiMap['TWO_FACES#YESHOU'].tuishui" id="{{tuishuiMap['TWO_FACES#YESHOU'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['TWO_FACES#YESHOU'].id, tuishuiMap['TWO_FACES#YESHOU'].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
        <td colspan="6"></td>
	</tr>
</table>