<table>
	<tr>
		<th>类型</th>
		<th>退水</th>
		<th>操作</th>
		<th>类型</th>
		<th>退水</th>
		<th>操作</th>
		<th>类型</th>
		<th>退水</th>
		<th>操作</th>
		<th>类型</th>
		<th>退水</th>
		<th>操作</th>
	</tr>
	<tr>
		<td>正码特一</td>
		<td ng-bind="tuishuiMap['ZHENG_SPECIFIC_1'].tuishui" id="{{tuishuiMap['ZHENG_SPECIFIC_1'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['ZHENG_SPECIFIC_1'].id, tuishuiMap['ZHENG_SPECIFIC_1'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
		<td>正码特二</td>
		<td ng-bind="tuishuiMap['ZHENG_SPECIFIC_2'].tuishui" id="{{tuishuiMap['ZHENG_SPECIFIC_2'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['ZHENG_SPECIFIC_2'].id, tuishuiMap['ZHENG_SPECIFIC_2'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
		<td>正码特三</td>
		<td ng-bind="tuishuiMap['ZHENG_SPECIFIC_3'].tuishui" id="{{tuishuiMap['ZHENG_SPECIFIC_3'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['ZHENG_SPECIFIC_3'].id, tuishuiMap['ZHENG_SPECIFIC_3'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
		<td>正码特四</td>
		<td ng-bind="tuishuiMap['ZHENG_SPECIFIC_4'].tuishui" id="{{tuishuiMap['ZHENG_SPECIFIC_4'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['ZHENG_SPECIFIC_4'].id, tuishuiMap['ZHENG_SPECIFIC_4'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
	</tr>
	<tr>
		<td>正码特五</td>
		<td ng-bind="tuishuiMap['ZHENG_SPECIFIC_5'].tuishui" id="{{tuishuiMap['ZHENG_SPECIFIC_5'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['ZHENG_SPECIFIC_5'].id, tuishuiMap['ZHENG_SPECIFIC_5'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
		<td>正码特六</td>
		<td ng-bind="tuishuiMap['ZHENG_SPECIFIC_6'].tuishui" id="{{tuishuiMap['ZHENG_SPECIFIC_6'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['ZHENG_SPECIFIC_6'].id, tuishuiMap['ZHENG_SPECIFIC_6'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
		<td colspan="6"></td>
	</tr>
</table>