<table>
	<tr>
		<th>类型</th>
		<th>退水</th>
		<th>操作</th>
		<th>类型</th>
		<th>退水</th>
		<th>操作</th>
		<th>类型</th>
		<th>退水</th>
		<th>操作</th>
		<th>类型</th>
		<th>退水</th>
		<th>操作</th>
	</tr>
	<tr>
		<td>单</td>
		<td ng-bind="tuishuiMap['ZHENG_1_6#DAN'].tuishui" id="{{tuishuiMap['ZHENG_1_6#DAN'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['ZHENG_1_6#DAN'].id, tuishuiMap['ZHENG_1_6#DAN'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
		<td>双</td>
		<td ng-bind="tuishuiMap['ZHENG_1_6#SHUANG'].tuishui" id="{{tuishuiMap['ZHENG_1_6#SHUANG'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['ZHENG_1_6#SHUANG'].id, tuishuiMap['ZHENG_1_6#SHUANG'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
		<td>大</td>
		<td ng-bind="tuishuiMap['ZHENG_1_6#DA'].tuishui" id="{{tuishuiMap['ZHENG_1_6#DA'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['ZHENG_1_6#DA'].id, tuishuiMap['ZHENG_1_6#DA'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
		<td>小</td>
		<td ng-bind="tuishuiMap['ZHENG_1_6#XIAO'].tuishui" id="{{tuishuiMap['ZHENG_1_6#XIAO'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['ZHENG_1_6#XIAO'].id, tuishuiMap['ZHENG_1_6#XIAO'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
	</tr>
	<tr>
		<td>红</td>
		<td ng-bind="tuishuiMap['ZHENG_1_6#RED'].tuishui" id="{{tuishuiMap['ZHENG_1_6#RED'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['ZHENG_1_6#RED'].id, tuishuiMap['ZHENG_1_6#RED'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
		<td>绿</td>
		<td ng-bind="tuishuiMap['ZHENG_1_6#GREEN'].tuishui" id="{{tuishuiMap['ZHENG_1_6#GREEN'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['ZHENG_1_6#GREEN'].id, tuishuiMap['ZHENG_1_6#GREEN'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
		<td>蓝</td>
		<td ng-bind="tuishuiMap['ZHENG_1_6#BLUE'].tuishui" id="{{tuishuiMap['ZHENG_1_6#BLUE'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['ZHENG_1_6#BLUE'].id, tuishuiMap['ZHENG_1_6#BLUE'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
		<td>合单</td>
		<td ng-bind="tuishuiMap['ZHENG_1_6#HEDAN'].tuishui" id="{{tuishuiMap['ZHENG_1_6#HEDAN'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['ZHENG_1_6#HEDAN'].id, tuishuiMap['ZHENG_1_6#HEDAN'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
	</tr>
	<tr>
		<td>合双</td>
		<td ng-bind="tuishuiMap['ZHENG_1_6#HESHUANG'].tuishui" id="{{tuishuiMap['ZHENG_1_6#HESHUANG'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['ZHENG_1_6#HESHUANG'].id, tuishuiMap['ZHENG_1_6#HESHUANG'].tuishui)" data-toggle="modal" data-target="#tuishuiDialog">修改</button>
		</td>
		<td colspan="9"></td>
	</tr>
</table>