<table style="width:45%;float:left;">
	<tr>
		<th>一肖</th>
		<th>退水</th>
		<th>操作</th>
	</tr>
	<tr ng-repeat="zodiac in ['ZODIAC_SHU','ZODIAC_NIU','ZODIAC_HU','ZODIAC_TU','ZODIAC_LONG','ZODIAC_SHE','ZODIAC_MA','ZODIAC_YANG','ZODIAC_HOU','ZODIAC_JI','ZODIAC_GOU','ZODIAC_ZHU']">
		<td>{{zodiacTypeMap[zodiac]}}</td>
		<td ng-bind="tuishuiMap['ONE_ZODIAC#'+zodiac].tuishui" id="{{tuishuiMap['ONE_ZODIAC#'+zodiac].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['ONE_ZODIAC#'+zodiac].id, tuishuiMap['ONE_ZODIAC#'+zodiac].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
	</tr>
</table>

<table style="width:45%;float:right;">
	<tr>
		<th>尾数</th>
		<th>退水</th>
		<th>操作</th>
	</tr>
	<tr ng-repeat="tail in [1,2,3,4,5,6,7,8,9,0]">
		<td>{{tail}}尾</td>
		<td ng-bind="tuishuiMap['TAIL_NUM#'+tail].tuishui" id="{{tuishuiMap['TAIL_NUM#'+tail].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['TAIL_NUM#'+tail].id, tuishuiMap['TAIL_NUM#'+tail].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
	</tr>
</table>