<table style="width:45%;float:left;">
	<tr>
		<th>生肖</th>
		<th>退水</th>
		<th>操作</th>
	</tr>
	<tr ng-repeat="zodiac in ['ZODIAC_SHU','ZODIAC_NIU','ZODIAC_HU','ZODIAC_TU','ZODIAC_LONG','ZODIAC_SHE','ZODIAC_MA','ZODIAC_YANG','ZODIAC_HOU','ZODIAC_JI','ZODIAC_GOU','ZODIAC_ZHU']">
		<td>{{zodiacTypeMap[zodiac]}}</td>
		<td ng-bind="tuishuiMap[zodiac].tuishui" id="{{tuishuiMap[zodiac].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap[zodiac].id, tuishuiMap[zodiac].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
	</tr>
</table>

<table style="width:45%;float:right;">
	<tr>
		<th>色波</th>
		<th>退水</th>
		<th>操作</th>
	</tr>
	<tr>
		<td>红波</td>
		<td ng-bind="tuishuiMap['RED'].tuishui" id="{{tuishuiMap['RED'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['RED'].id, tuishuiMap['RED'].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
	</tr>
	<tr>
		<td>蓝波</td>
		<td ng-bind="tuishuiMap['BLUE'].tuishui" id="{{tuishuiMap['BLUE'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['BLUE'].id, tuishuiMap['BLUE'].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
	</tr>
	<tr>
		<td>绿波</td>
		<td ng-bind="tuishuiMap['GREEN'].tuishui" id="{{tuishuiMap['GREEN'].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markTuishui(tuishuiMap['GREEN'].id, tuishuiMap['GREEN'].tuishui)" data-toggle="modal"
                    data-target="#tuishuiDialog">修改
            </button>
        </td>
	</tr>
</table>