body {
    background: #eee;
    font-size: 14px;
    color: #666;
    margin: 0px;
    font-family: "Microsoft YaHei";
}

.btn {
    border: 1px solid #04A21F;
    background: #24C578;
    color: white;
    font-size: 0.9em;
    display: block;
    width: 50px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #1CE845;
}

.red_btn {
    border: 1px solid #F73A3A;
    background: #FD6C6C;
    color: white;
    font-size: 0.9em;
    display: block;
    width: 50px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.red_btn:hover {
    background: #F50000;
}

.nav {
    height: 120px;
}

.section {
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
}

.sidebar {
    float: left;
    width: 300px;
    margin-bottom: 40px;
}

.side_area {
    border: 1px solid #dedede;
    background: white;
    margin-top: 15px;
    border-radius: 15px;
}

.side_header {
    color: white;
    background: #1FADFB;
    text-align: center;
    padding: 10px;
}

.content {
    float: left;
    width: 870px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 40px;
}

.menu_logo {
    background: #1FADFB;
    height: 80px;
}

.logo {
    width: 1190px;
    margin: 0px auto;
    padding: 10px;
    height: 60px;
}

.logo > span {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}

.menu_bar {
    background: #1272BF;
    height: 40px;
}

.menu_item_list {
    width: 1190px;
    margin: 0px auto;
    list-style: none;
    padding: 0px;
}

.menu_item {
    float: left;
}

.menu_user_info {
    margin: auto 10px;
    float: right;
    color: white;
    line-height: 40px;
}

.menu_pgroup_info {
    float: right;
    color: white;
    line-height: 40px;
}

.menu_user_info > a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.menu_item > a {
    color: white;
    text-decoration: none;
    display: block;
    /*height: 30px;*/
    line-height: 30px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
}

.menu_item > a:hover, .menu_item.current {
    background: #1FADFB;
}

.clear {
    clear: both;
}

.ball {
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    float: left;
    line-height: 25px;
    margin-left: 2px;
    text-align: center;
    box-shadow: inset 0 -5px 10px rgba(255, 255, 255, 0.4),
    inset -2px -1px 40px rgba(0, 0, 0, 0.4),
    0 0 1px #000;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

.footer_area {
    text-align: center;
    line-height: 60px;
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border-top: 1px solid #888;
    clear: left;
}

input[type=radio], input[type=checkbox] {
    cursor: pointer;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

input[type=text] {
    padding: 3px;
    line-height: 20px;
    border: 1px solid ＃999;
}

.section table {
    border-collapse: collapse;
    background: white;
    margin: 15px auto;
    border: 1px solid #1FADFB;
    width: 100%;
}

.section table td {
    padding: 10px;
    text-align: center;
}

.section table th {
    color: white;
    background: #1FADFB;
    padding: 10px;
    border-right: 1px solid #fff;
    text-align: center;
}

.section table th:last-child {
    border-right: 1px solid #1FADFB;
}

.section table tr:nth-child(odd) {
    background: #FDFDCE;
}

.clock {
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
}