@import url("common.css");
@import url("ball.css");

.real-time-header {
    background: #1FADFB;
    padding: 6px;
}

.real-time-header span {
    margin: 5px 10px;
}

.real-time-tabs {
    display: flex;
    justify-content: space-around;
}

.real-time-dashboard {
    display: flex;
    justify-content: center;
}

.real-time-dashboard > table {
    /*width: 0px;*/
}
