@import url("common.css");
@import url("ball.css");

input[type=radio], input[type=checkbox] {
    cursor: pointer;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.section table{
	width:100%;
	border-collapse: collapse;
	background:white;
}

.section table td{
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	border-right:1px solid #eee;
}

.section table th{
	color:white;
	background:#1FADFB;
	padding-top:10px;
	padding-bottom:10px;
	border-right:1px solid #eee;
	text-align:center;
}

.section table th:last-child, .section table td:last-child{
	border-right:none;
}

.section table tr:nth-child(odd) {
	background: #FDFDCE;
}