@import url("common.css");
@import url("ball.css");

.real-time-header {
    background: #1FADFB;
    padding: 6px;
}

.real-time-header span {
    margin: 5px 10px;
}

.real-time-tabs {
    display: flex;
    justify-content: space-around;
}

.real-time-tab {
    cursor: pointer;
    color: blue;
}

.real-time-tab-active {
    color: red;
}

.real-time-sub-tabs {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 600px;
}

.real-time-dashboard {
    display: flex;
    justify-content: center;
}

.real-time-align-left {
    display: flex;
    justify-content: left;
}

.real-time-dashboard > table {
    /*width: 0px;*/
}

.real-time-joint-stat > div {
    width: 300px;
}

.real-time-joint-stat > table {
    min-height: 500px;
}

.real-time-joint-stat tbody > tr:nth-child(n+1):nth-child(-n+3) {
    background: #fff6d7;
}

.real-time-joint-stat tbody > tr:nth-child(3) {
    border-bottom: 1px solid #1FADFB;
}

.real-time-zheng-1-6 table th, .real-time-zheng-1-6 table td {
    padding: 7px;
}

.not-wager-list {
    width: 300px;
}
