<!doctype html>
<html>
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta charset="utf-8">
<link rel="stylesheet" href="css/index.css">
<title>博彩大厅</title>
</head>
<body ng-app="index" ng-controller="IndexController">
	<div class="nav" ng-include="'includes/nav.html'"></div>
	<div class="section">
		<div class="sidebar" ng-include="'includes/sidebar.html'"></div>
		<div class="content">
			<div class="tab_bar">
				<div ng-repeat="item in items"
					ng-class="{true: 'tab_item selected', false: 'tab_item'}[$index==selectedIndex]"
					ng-click="goTab($index)">{{item}}</div>
			</div>
			<div ng-show="selectedIndex==0">
				<div class="error_content">目前没有可以下注的期数</div>
			</div>
			<div ng-show="selectedIndex==1">
				<div class="error_content">目前没有可以下注的期数</div>
				<div>
					<table class="zodiac_table">
	    	    		<tr>
	    	    			<th>生肖</th>
	    	    			<th>号码</th>
	    	    			<th>赔率</th>
	    	    			<th>操作</th>
	    	    		</tr>
	    	    		<tr ng-repeat="zodiacItem in zodiacItems">
	    	    			<td>{{zodiacItem.name}}</td>
	    	    			<td>
	    	    				<div ng-repeat="ball in zodiacItem.balls" class="ball {{colorMap[ball]}}">{{ball}}</div>
	    	    			</td>
	    	    			<td>{{zodiacItem.odds}}</td>
	    	    			<td><a href="javascript:;" class="bet btn" data-zodiac={{zodiacItem.name}}>下注</a></td>
	    	    		</tr>
    	    		</table>
    	    		<table class="zodiac_table">
	    	    		<tr>
	    	    			<th>色波</th>
	    	    			<th>赔率</th>
	    	    			<th>操作</th>
	    	    		</tr>
	    	    		<tr>
	    	    			<td style="color:red;">红波</td>
	    	    			<td>{{colorItems.red}}</td>
	    	    			<td><a href="javascript:;" class="bet btn" data-zodiac="red">下注</a></td>
	    	    		</tr>
	    	    		<tr>
	    	    			<td style="color:blue;">蓝波</td>
	    	    			<td>{{colorItems.blue}}</td>
	    	    			<td><a href="javascript:;" class="bet btn" data-zodiac="blue">下注</a></td>
	    	    		</tr>
	    	    		<tr>
	    	    			<td style="color:green;">绿波</td>
	    	    			<td>{{colorItems.green}}</td>
	    	    			<td><a href="javascript:;" class="bet btn" data-zodiac="green">下注</a></td>
	    	    		</tr>
    	    		</table>
				</div>
			</div>
			<div ng-show="selectedIndex==2">
				<div class="error_content">目前没有可以下注的期数</div>
			</div>
			<div ng-show="selectedIndex==3">
				<div class="error_content">目前没有可以下注的期数</div>
			</div>
			<div ng-show="selectedIndex==4">
				<div class="error_content">目前没有可以下注的期数</div>
			</div>
			<div ng-show="selectedIndex==5">
				<div class="error_content">目前没有可以下注的期数</div>
			</div>
			<div ng-show="selectedIndex==6">
				<div class="error_content">目前没有可以下注的期数</div>
			</div>
			<div ng-show="selectedIndex==7">
				<div class="error_content">目前没有可以下注的期数</div>
			</div>
			<div ng-show="selectedIndex==8">
				<div class="error_content">目前没有可以下注的期数</div>
			</div>
			<div ng-show="selectedIndex==9">
				<div class="error_content">目前没有可以下注的期数</div>
			</div>
			<div ng-show="selectedIndex==10">10</div>
			<div ng-show="selectedIndex==11">
				<div class="error_content">目前没有可以下注的期数</div>
			</div>
			<div ng-show="selectedIndex==12">
				<div class="error_content">目前没有可以下注的期数</div>
			</div>
		</div>
	</div>
	<script src="js/lib/angular.min.js"></script>
	<script src="js/common/color.js"></script>
	<script src="js/common/zodiac.js"></script>
	<script src="js/index.js"></script>
</body>
</html>