<!doctype html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/wagehistory.css">
    <title>下注历史</title>
</head>
<body ng-app="wagehistory" ng-controller="WageHistoryController">
<div class="nav" ng-include="'includes/nav.html'"></div>
<div class="section">
    <div class="issue_area">
        <span>代理商：</span>
        <select ng-model="selectedPGroup" ng-change="changePGroupAndIssue()" ng-options="pg.name for pg in user.pGroupList track by pg.id"></select>
        <span>期数：</span>
        <select ng-model="selectedIssue" ng-change="changePGroupAndIssue()" ng-options="issue for issue in lotteryIssues"></select>
    </div>
    <table>
        <thead>
        <tr>
            <th>类型</th>
            <th>下注内容</th>
            <th>下注金额</th>
            <th>下注时间</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="wage in wageHistory">
            <td ng-bind="wage.typeName"></td>
            <td ng-bind-html="wage.wageHTML"></td>
            <td ng-bind="wage.stakes"></td>
            <td ng-bind="wage.timestamp | date:'yyyy-MM-dd HH:mm:ss'"></td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-include="'includes/foot.html'"></div>
<script src="js/lib/angular.min.js"></script>
<script src="js/common/lottery_algorithms.js"></script>
<script src="js/wagehistory.js"></script>
</body>
</html>