<table style="width:30%;float:left;">
	<tr>
		<th>二尾</th>
		<th>赔率</th>
		<th>操作</th>
	</tr>
	<tr ng-repeat="index in [0,1,2,3,4,5,6,7,8,9]">
		<td>{{index}}</td>
		<td ng-bind="oddsMap['JOINT_TAIL_2#'+index].odds" id="{{oddsMap['JOINT_TAIL_2#'+index].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['JOINT_TAIL_2#'+index].id, oddsMap['JOINT_TAIL_2#'+index].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
	</tr>
</table>

<table style="width:30%;margin-left:5%;float:right;">
	<tr>
		<th>三尾</th>
		<th>赔率</th>
		<th>操作</th>
	</tr>
	<tr ng-repeat="index in [0,1,2,3,4,5,6,7,8,9]">
		<td>{{index}}</td>
		<td ng-bind="oddsMap['JOINT_TAIL_3#'+index].odds" id="{{oddsMap['JOINT_TAIL_3#'+index].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['JOINT_TAIL_3#'+index].id, oddsMap['JOINT_TAIL_3#'+index].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
	</tr>
</table>

<table style="width:30%;margin-left:5%;float:right;">
	<tr>
		<th>四尾</th>
		<th>赔率</th>
		<th>操作</th>
	</tr>
	<tr ng-repeat="index in [0,1,2,3,4,5,6,7,8,9]">
		<td>{{index}}</td>
		<td ng-bind="oddsMap['JOINT_TAIL_4#'+index].odds" id="{{oddsMap['JOINT_TAIL_4#'+index].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['JOINT_TAIL_4#'+index].id, oddsMap['JOINT_TAIL_4#'+index].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
	</tr>
</table>

<div style="clear:both;"></div>

<table style="width:30%;float:left;">
	<tr>
		<th>二尾不中</th>
		<th>赔率</th>
		<th>操作</th>
	</tr>
	<tr ng-repeat="index in [0,1,2,3,4,5,6,7,8,9]">
		<td>{{index}}</td>
		<td ng-bind="oddsMap['JOINT_TAIL_NOT_2#'+index].odds" id="{{oddsMap['JOINT_TAIL_NOT_2#'+index].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['JOINT_TAIL_NOT_2#'+index].id, oddsMap['JOINT_TAIL_NOT_2#'+index].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
	</tr>
</table>

<table style="width:30%;margin-left:5%;float:right;">
	<tr>
		<th>三尾不中</th>
		<th>赔率</th>
		<th>操作</th>
	</tr>
	<tr ng-repeat="index in [0,1,2,3,4,5,6,7,8,9]">
		<td>{{index}}</td>
		<td ng-bind="oddsMap['JOINT_TAIL_NOT_3#'+index].odds" id="{{oddsMap['JOINT_TAIL_NOT_3#'+index].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['JOINT_TAIL_NOT_3#'+index].id, oddsMap['JOINT_TAIL_NOT_3#'+index].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
	</tr>
</table>

<table style="width:30%;margin-left:5%;float:right;">
	<tr>
		<th>四尾不中</th>
		<th>赔率</th>
		<th>操作</th>
	</tr>
	<tr ng-repeat="index in [0,1,2,3,4,5,6,7,8,9]">
		<td>{{index}}</td>
		<td ng-bind="oddsMap['JOINT_TAIL_NOT_4#'+index].odds" id="{{oddsMap['JOINT_TAIL_NOT_4#'+index].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['JOINT_TAIL_NOT_4#'+index].id, oddsMap['JOINT_TAIL_NOT_4#'+index].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
	</tr>
</table>

<div style="clear:both;"></div>
