<label>请选择连肖类型</label>
<select ng-model="jointZodiacType">
	<option value="2">二连肖</option>
	<option value="3">三连肖</option>
	<option value="4">四连肖</option>
	<option value="5">五连肖</option>
</select>
<br/>

<table style="width:45%;float:left;">
	<tr>
		<th>平肖</th>
		<th>赔率</th>
		<th>操作</th>
	</tr>
	<tr ng-repeat="zodiac in ['ZODIAC_SHU','ZODIAC_NIU','ZODIAC_HU','ZODIAC_TU','ZODIAC_LONG','ZODIAC_SHE','ZODIAC_MA','ZODIAC_YANG','ZODIAC_HOU','ZODIAC_JI','ZODIAC_GOU','ZODIAC_ZHU']">
		<td>{{zodiacTypeMap[zodiac]}}</td>
		<td ng-bind="oddsMap['JOINT_ZODIAC_PING#'+jointZodiacType+'#'+zodiac].odds" id="{{oddsMap['JOINT_ZODIAC_PING#'+jointZodiacType+'#'+zodiac].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['JOINT_ZODIAC_PING#'+jointZodiacType+'#'+zodiac].id, oddsMap['JOINT_ZODIAC_PING#'+jointZodiacType+'#'+zodiac].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
	</tr>
</table>

<table style="width:45%;float:right;">
	<tr>
		<th>正肖</th>
		<th>赔率</th>
		<th>操作</th>
	</tr>
	<tr ng-repeat="zodiac in ['ZODIAC_SHU','ZODIAC_NIU','ZODIAC_HU','ZODIAC_TU','ZODIAC_LONG','ZODIAC_SHE','ZODIAC_MA','ZODIAC_YANG','ZODIAC_HOU','ZODIAC_JI','ZODIAC_GOU','ZODIAC_ZHU']">
		<td>{{zodiacTypeMap[zodiac]}}</td>
		<td ng-bind="oddsMap['JOINT_ZODIAC_ZHENG#'++jointZodiacType+'#'+zodiac].odds" id="{{oddsMap['JOINT_ZODIAC_ZHENG#'++jointZodiacType+'#'+zodiac].id}}"></td>
		<td>
            <button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['JOINT_ZODIAC_ZHENG#'++jointZodiacType+'#'+zodiac].id, oddsMap['JOINT_ZODIAC_ZHENG#'++jointZodiacType+'#'+zodiac].odds)" data-toggle="modal"
                    data-target="#oddsDialog">修改
            </button>
        </td>
	</tr>
</table>