<table>
	<tr>
		<th>类型</th>
		<th>赔率</th>
		<th>操作</th>
		<th>类型</th>
		<th>赔率</th>
		<th>操作</th>
		<th>类型</th>
		<th>赔率</th>
		<th>操作</th>
		<th>类型</th>
		<th>赔率</th>
		<th>操作</th>
	</tr>
	<tr>
		<td>五不中</td>
		<td ng-bind="oddsMap['NOT_5'].odds" id="{{oddsMap['NOT_5'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['NOT_5'].id, oddsMap['NOT_5'].odds)" data-toggle="modal" data-target="#oddsDialog">修改</button>
		</td>
		<td>六不中</td>
		<td ng-bind="oddsMap['NOT_6'].odds" id="{{oddsMap['NOT_6'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['NOT_6'].id, oddsMap['NOT_6'].odds)" data-toggle="modal" data-target="#oddsDialog">修改</button>
		</td>
		<td>七不中</td>
		<td ng-bind="oddsMap['NOT_7'].odds" id="{{oddsMap['NOT_7'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['NOT_7'].id, oddsMap['NOT_7'].odds)" data-toggle="modal" data-target="#oddsDialog">修改</button>
		</td>
		<td>八不中</td>
		<td ng-bind="oddsMap['NOT_8'].odds" id="{{oddsMap['NOT_8'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['NOT_8'].id, oddsMap['NOT_8'].odds)" data-toggle="modal" data-target="#oddsDialog">修改</button>
		</td>
	</tr>
	<tr>
		<td>九不中</td>
		<td ng-bind="oddsMap['NOT_9'].odds" id="{{oddsMap['NOT_9'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['NOT_9'].id, oddsMap['NOT_9'].odds)" data-toggle="modal" data-target="#oddsDialog">修改</button>
		</td>
		<td>十不中</td>
		<td ng-bind="oddsMap['NOT_10'].odds" id="{{oddsMap['NOT_10'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['NOT_10'].id, oddsMap['NOT_10'].odds)" data-toggle="modal" data-target="#oddsDialog">修改</button>
		</td>
		<td>十一不中</td>
		<td ng-bind="oddsMap['NOT_11'].odds" id="{{oddsMap['NOT_11'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['NOT_11'].id, oddsMap['NOT_11'].odds)" data-toggle="modal" data-target="#oddsDialog">修改</button>
		</td>
		<td>十二不中</td>
		<td ng-bind="oddsMap['NOT_12'].odds" id="{{oddsMap['NOT_12'].id}}"></td>
		<td>
			<button class="btn btn-danger btn-sm" ng-click="markOdds(oddsMap['NOT_12'].id, oddsMap['NOT_12'].odds)" data-toggle="modal" data-target="#oddsDialog">修改</button>
		</td>
	</tr>
</table>