<table>
	<tr>
		<th>半波</th>
		<th>赔率</th>
		<th>号码</th>
		<th>选择</th>
	</tr>
	<tr>
		<td class="color_td red">红单</td>
		<td>{{halfWaveItems.WAVE_RED_DAN}}</td>
		<td>
			<div class="ball red">1</div>
			<div class="ball red">7</div>
			<div class="ball red">13</div>
			<div class="ball red">19</div>
			<div class="ball red">23</div>
			<div class="ball red">29</div>
			<div class="ball red">35</div>
			<div class="ball red">45</div>
		</td>
		<td>
			<input type="text" ng-model="selectedBalls.WAVE_RED_DAN" class="stakes_input"/>
		</td>
	</tr>
	<tr>
		<td class="color_td red">红双</td>
		<td>{{halfWaveItems.WAVE_RED_SHUANG}}</td>
		<td>
			<div class="ball red">2</div>
			<div class="ball red">8</div>
			<div class="ball red">12</div>
			<div class="ball red">18</div>
			<div class="ball red">24</div>
			<div class="ball red">30</div>
			<div class="ball red">34</div>
			<div class="ball red">40</div>
			<div class="ball red">46</div>
		</td>
		<td>
			<input type="text" ng-model="selectedBalls.WAVE_RED_SHUANG" class="stakes_input"/>
		</td>
	</tr>
	<tr>
		<td class="color_td red">红大</td>
		<td>{{halfWaveItems.WAVE_RED_DA}}</td>
		<td>
			<div class="ball red">29</div>
			<div class="ball red">30</div>
			<div class="ball red">34</div>
			<div class="ball red">35</div>
			<div class="ball red">40</div>
			<div class="ball red">45</div>
			<div class="ball red">46</div>
		</td>
		<td>
			<input type="text" ng-model="selectedBalls.WAVE_RED_DA" class="stakes_input"/>
		</td>
	</tr>
	<tr>
		<td class="color_td red">红小</td>
		<td>{{halfWaveItems.WAVE_RED_XIAO}}</td>
		<td>
			<div class="ball red">1</div>
			<div class="ball red">2</div>
			<div class="ball red">7</div>
			<div class="ball red">8</div>
			<div class="ball red">12</div>
			<div class="ball red">13</div>
			<div class="ball red">18</div>
			<div class="ball red">19</div>
			<div class="ball red">23</div>
			<div class="ball red">24</div>
		</td>
		<td>
			<input type="text" ng-model="selectedBalls.WAVE_RED_XIAO" class="stakes_input"/>
		</td>
	</tr>
	<tr>
		<td class="color_td blue">蓝单</td>
		<td>{{halfWaveItems.WAVE_BLUE_DAN}}</td>
		<td>
			<div class="ball blue">3</div>
			<div class="ball blue">9</div>
			<div class="ball blue">15</div>
			<div class="ball blue">25</div>
			<div class="ball blue">31</div>
			<div class="ball blue">37</div>
			<div class="ball blue">41</div>
			<div class="ball blue">47</div>
		</td>
		<td>
			<input type="text" ng-model="selectedBalls.WAVE_BLUE_DAN" class="stakes_input"/>
		</td>
	</tr>
	<tr>
		<td class="color_td blue">蓝双</td>
		<td>{{halfWaveItems.WAVE_BLUE_SHUANG}}</td>
		<td>
			<div class="ball blue">4</div>
			<div class="ball blue">10</div>
			<div class="ball blue">14</div>
			<div class="ball blue">20</div>
			<div class="ball blue">26</div>
			<div class="ball blue">36</div>
			<div class="ball blue">42</div>
			<div class="ball blue">48</div>
		</td>
		<td>
			<input type="text" ng-model="selectedBalls.WAVE_BLUE_SHUANG" class="stakes_input"/>
		</td>
	</tr>
	<tr>
		<td class="color_td blue">蓝大</td>
		<td>{{halfWaveItems.WAVE_BLUE_DA}}</td>
		<td>
			<div class="ball blue">25</div>
			<div class="ball blue">26</div>
			<div class="ball blue">31</div>
			<div class="ball blue">36</div>
			<div class="ball blue">37</div>
			<div class="ball blue">41</div>
			<div class="ball blue">42</div>
			<div class="ball blue">47</div>
			<div class="ball blue">48</div>
		</td>
		<td>
			<input type="text" ng-model="selectedBalls.WAVE_BLUE_DA" class="stakes_input"/>
		</td>
	</tr>
	<tr>
		<td class="color_td blue">蓝小</td>
		<td>{{halfWaveItems.WAVE_BLUE_XIAO}}</td>
		<td>
			<div class="ball blue">3</div>
			<div class="ball blue">4</div>
			<div class="ball blue">9</div>
			<div class="ball blue">10</div>
			<div class="ball blue">14</div>
			<div class="ball blue">15</div>
			<div class="ball blue">20</div>
		</td>
		<td>
			<input type="text" ng-model="selectedBalls.WAVE_BLUE_XIAO" class="stakes_input"/>
		</td>
	</tr>
	<tr>
		<td class="color_td green">绿单</td>
		<td>{{halfWaveItems.WAVE_GREEN_DAN}}</td>
		<td>
			<div class="ball green">5</div>
			<div class="ball green">11</div>
			<div class="ball green">17</div>
			<div class="ball green">21</div>
			<div class="ball green">27</div>
			<div class="ball green">33</div>
			<div class="ball green">39</div>
			<div class="ball green">43</div>
		</td>
		<td>
			<input type="text" ng-model="selectedBalls.WAVE_GREEN_DAN" class="stakes_input"/>
		</td>
	</tr>
	<tr>
		<td class="color_td green">绿双</td>
		<td>{{halfWaveItems.WAVE_GREEN_SHUANG}}</td>
		<td>
			<div class="ball green">6</div>
			<div class="ball green">16</div>
			<div class="ball green">22</div>
			<div class="ball green">28</div>
			<div class="ball green">32</div>
			<div class="ball green">38</div>
			<div class="ball green">44</div>
		</td>
		<td>
			<input type="text" ng-model="selectedBalls.WAVE_GREEN_SHUANG" class="stakes_input"/>
		</td>
	</tr>
	<tr>
		<td class="color_td green">绿大</td>
		<td>{{halfWaveItems.WAVE_GREEN_DA}}</td>
		<td>
			<div class="ball green">27</div>
			<div class="ball green">28</div>
			<div class="ball green">32</div>
			<div class="ball green">33</div>
			<div class="ball green">38</div>
			<div class="ball green">39</div>
			<div class="ball green">43</div>
			<div class="ball green">44</div>
		</td>
		<td>
			<input type="text" ng-model="selectedBalls.WAVE_GREEN_DA" class="stakes_input"/>
		</td>
	</tr>
	<tr>
		<td class="color_td green">绿小</td>
		<td>{{halfWaveItems.WAVE_GREEN_XIAO}}</td>
		<td>
			<div class="ball green">5</div>
			<div class="ball green">6</div>
			<div class="ball green">11</div>
			<div class="ball green">16</div>
			<div class="ball green">17</div>
			<div class="ball green">21</div>
			<div class="ball green">22</div>
		</td>
		<td>
			<input type="text" ng-model="selectedBalls.WAVE_GREEN_XIAO" class="stakes_input"/>
		</td>
	</tr>
</table>
