<div style="margin-left:50px;margin-top:15px;">
	<input type="radio" name="jointSelect" id="jointSelect1" ng-model="otherParams.type" value="JOINT_3_ALL"/><label for="jointSelect1">三全中<span style="color:red;">({{jointOddsMap.JOINT_3_ALL}})</span></label>
	<input type="radio" name="jointSelect" id="jointSelect2" ng-model="otherParams.type" value="JOINT_3_2"/><label for="jointSelect2">三中二<span style="color:red;">({{jointOddsMap.JOINT_3_2}})</span></label>
	<input type="radio" name="jointSelect" id="jointSelect3" ng-model="otherParams.type" value="JOINT_2_ALL"/><label for="jointSelect3">二全中<span style="color:red;">({{jointOddsMap.JOINT_2_ALL}})</span></label>
	<input type="radio" name="jointSelect" id="jointSelect4" ng-model="otherParams.type" value="JOINT_2_SPECIAL"/><label for="jointSelect4">二中特<span style="color:red;">({{jointOddsMap.JOINT_2_SPECIAL}})</span></label>
	<input type="radio" name="jointSelect" id="jointSelect5" ng-model="otherParams.type" value="JOINT_SPECIAL"/><label for="jointSelect5">特串<span style="color:red;">({{jointOddsMap.JOINT_SPECIAL}})</span></label>
	<br/><label for="jointLotteryStakes">注数：</label><input type="text" id="jointLotteryStakes" class="stakes_input" ng-model="otherParams.stakes" ng-pattern="/^\d+$/"/>
</div>
<table style="margin-top:10px;">
	<tr>
		<th>号码</th>
		<th>选择</th>
		<th>号码</th>
		<th>选择</th>
		<th>号码</th>
		<th>选择</th>
		<th>号码</th>
		<th>选择</th>
		<th>号码</th>
		<th>选择</th>
	</tr>
	<tr ng-repeat="row in jointItems">
		<td colspan="2" ng-repeat="ball in row" style="border-right: 1px solid #1FADFB;">
			<div class="ball {{colorMap[ball.ball]}}" style="margin-left:25px;margin-right:25px;">{{ball.ball}}</div>
			<input type="checkbox" style="float:left;margin-left:25px;margin-right:25px;" ng-click="chooseBall($event,ball.ball)" ng-checked="selectedBalls[ball.ball]==true"/>
		</td>
		<td colspan="2" ng-if="$last">
		</td>
	</tr>
</table>