<div style="margin-left:50px;margin-top:15px;">
	<input type="radio" name="notSelect" id="notSelect1"/><label for="notSelect1">五不中</label>
	<input type="radio" name="notSelect" id="notSelect2"/><label for="notSelect2">六不中</label>
	<input type="radio" name="notSelect" id="notSelect3"/><label for="notSelect3">七不中</label>
	<input type="radio" name="notSelect" id="notSelect4"/><label for="notSelect4">八不中</label>
	<input type="radio" name="notSelect" id="notSelect5"/><label for="notSelect5">九不中</label>
	<input type="radio" name="notSelect" id="notSelect6"/><label for="notSelect6">十不中</label>
	<input type="radio" name="notSelect" id="notSelect7"/><label for="notSelect7">十一不中</label>
	<input type="radio" name="notSelect" id="notSelect8"/><label for="notSelect8">十二不中</label>
</div>
<table>
	<tr>
		<th>号码</th>
		<th>赔率</th>
		<th>选择</th>
		<th>号码</th>
		<th>赔率</th>
		<th>选择</th>
		<th>号码</th>
		<th>赔率</th>
		<th>选择</th>
		<th>号码</th>
		<th>赔率</th>
		<th>选择</th>
		<th>号码</th>
		<th>赔率</th>
		<th>选择</th>
	</tr>
	<tr ng-repeat="row in notItems">
		<td colspan="3" ng-repeat="ball in row" style="border-right: 1px solid #1FADFB;">
			<div class="ball {{colorMap[ball.ball]}}">{{ball.ball}}</div>
			<div class="odds">{{ball.odds}}</div>
			<input type="radio" name="notBall" class="notBallRadio"/>
		</td>
		<td colspan="3" ng-if="$last">
		</td>
	</tr>
</table>
<a href="javascript:;" class="btn" style="float:right;margin-right:45px;margin-bottom:15px;">下注</a>