<div style="margin-left:50px;margin-top:15px;">
	<input type="radio" name="notSelect" id="notSelect1" ng-model="otherParams.type" value="NOT_5"/><label for="notSelect1">五不中<span style="color:red;">({{notOddsMap.NOT_5}})</span></label>
	<input type="radio" name="notSelect" id="notSelect2" ng-model="otherParams.type" value="NOT_6"/><label for="notSelect2">六不中<span style="color:red;">({{notOddsMap.NOT_6}})</span></label>
	<input type="radio" name="notSelect" id="notSelect3" ng-model="otherParams.type" value="NOT_7"/><label for="notSelect3">七不中<span style="color:red;">({{notOddsMap.NOT_7}})</span></label>
	<input type="radio" name="notSelect" id="notSelect4" ng-model="otherParams.type" value="NOT_8"/><label for="notSelect4">八不中<span style="color:red;">({{notOddsMap.NOT_8}})</span></label>
	<input type="radio" name="notSelect" id="notSelect5" ng-model="otherParams.type" value="NOT_9"/><label for="notSelect5">九不中<span style="color:red;">({{notOddsMap.NOT_9}})</span></label>
	<input type="radio" name="notSelect" id="notSelect6" ng-model="otherParams.type" value="NOT_10"/><label for="notSelect6">十不中<span style="color:red;">({{notOddsMap.NOT_10}})</span></label>
	<input type="radio" name="notSelect" id="notSelect7" ng-model="otherParams.type" value="NOT_11"/><label for="notSelect7">十一不中<span style="color:red;">({{notOddsMap.NOT_11}})</span></label>
	<br/><input type="radio" name="notSelect" id="notSelect8" ng-model="otherParams.type" value="NOT_12"/><label for="notSelect8">十二不中<span style="color:red;">({{notOddsMap.NOT_12}})</span></label>
	<br/><label for="notLotteryStakes">注数：</label><input type="text" id="notLotteryStakes" class="stakes_input" ng-model="otherParams.stakes" ng-pattern="/^\d+$/"/>
</div>
<table style="margin-top:10px;">
	<tr>
		<th>号码</th>
		<th>选择</th>
		<th>号码</th>
		<th>选择</th>
		<th>号码</th>
		<th>选择</th>
		<th>号码</th>
		<th>选择</th>
		<th>号码</th>
		<th>选择</th>
	</tr>
	<tr ng-repeat="row in notItems">
		<td colspan="2" ng-repeat="ball in row" style="border-right: 1px solid #1FADFB;">
			<div class="ball {{colorMap[ball.ball]}}" style="margin-left:25px;margin-right:25px;">{{ball.ball}}</div>
			<input type="checkbox" style="float:left;margin-left:25px;margin-right:25px;" ng-click="chooseBall($event,ball.ball)" ng-checked="selectedBalls[ball.ball]==true"/>
		</td>
		<td colspan="2" ng-if="$last">
		</td>
	</tr>
</table>