<div style="margin-left:50px;margin-top:15px;">
	<input type="radio" name="notSelect" id="notSelect1"/><label for="notSelect1">五不中</label>
	<input type="radio" name="notSelect" id="notSelect2"/><label for="notSelect2">六不中</label>
	<input type="radio" name="notSelect" id="notSelect3"/><label for="notSelect3">七不中</label>
	<input type="radio" name="notSelect" id="notSelect4"/><label for="notSelect4">八不中</label>
	<input type="radio" name="notSelect" id="notSelect5"/><label for="notSelect5">九不中</label>
	<input type="radio" name="notSelect" id="notSelect6"/><label for="notSelect6">十不中</label>
	<input type="radio" name="notSelect" id="notSelect7"/><label for="notSelect7">十一不中</label>
	<input type="radio" name="notSelect" id="notSelect8"/><label for="notSelect8">十二不中</label>
	<label for="notLotteryStakes">注数：</label><input type="text" id="notLotteryStakes" class="stakes_input" ng-model="notBallStakes"/>
</div>
<table style="margin-top:10px;">
	<tr>
		<th>号码</th>
		<th>选择</th>
		<th>号码</th>
		<th>选择</th>
		<th>号码</th>
		<th>选择</th>
		<th>号码</th>
		<th>选择</th>
		<th>号码</th>
		<th>选择</th>
	</tr>
	<tr ng-repeat="row in notItems">
		<td colspan="2" ng-repeat="ball in row" style="border-right: 1px solid #1FADFB;">
			<div class="ball {{colorMap[ball.ball]}}" style="margin-left:25px;margin-right:25px;">{{ball.ball}}</div>
			<input type="checkbox" style="float:left;margin-left:25px;margin-right:25px;" ng-click="chooseBall($event,ball.ball)" ng-checked="selectedBalls[ball.ball]==true"/>
		</td>
		<td colspan="2" ng-if="$last">
		</td>
	</tr>
</table>