<table class="zodiac_table">
	<tr>
		<th>生肖</th>
		<th>号码</th>
		<th>选择(最多11个)</th>
	</tr>
	<tr ng-repeat="zodiacItem in zodiacItems">
		<td>{{zodiacItem.name}}</td>
		<td>
			<div ng-repeat="ball in zodiacItem.balls"
				class="ball {{colorMap[ball]}}">{{ball}}</div>
		</td>
		<td>
			<input type="checkbox" ng-click="chooseSumZodiac($event, zodiacItem.id);" ng-checked="isCheckedSumZodiac(zodiacItem.id);"/>
		</td>
	</tr>
</table>
<table class="zodiac_table">
	<tr>
		<th>类别</th>
		<th>赔率</th>
		<th>选择</th>
	</tr>
	<tr ng-repeat="sumZodiacItem in sumZodiacItems">
		<td>{{sumZodiacItem.name}}</td>
		<td>{{sumZodiacItem.odds.zhong}}/{{sumZodiacItem.odds.buzhong}}</td>
		<td>
			<input type="radio" name="{{'sumZodiac'+($index+1)}}" ng-model="selectedBalls2[($index+1)]" value="1"/><label>中</label>
			<input type="radio" name="{{'sumZodiac'+($index+1)}}" ng-model="selectedBalls2[($index+1)]" value="0"/><label>不中</label>
			<input type="text" ng-disabled="selectedBalls2[($index+1)]==undefined" ng-model="selectedBalls[($index+1)]" class="stakes_input" ng-pattern="/^\d+$/"/>
			<button class="btn btn-success btn-sm" ng-click="clearSumZodiacItem($index+1)">清除</button>
		</td>
	</tr>
</table>
<div class="clear"></div>