<table>
	<tr>
		<th>类型</th>
		<th>赔率</th>
		<th>注数</th>
		<th>类型</th>
		<th>赔率</th>
		<th>注数</th>
		<th>类型</th>
		<th>赔率</th>
		<th>注数</th>
		<th>类型</th>
		<th>赔率</th>
		<th>注数</th>
	</tr>
	<tr>
		<td>特单</td>
		<td>{{twoFacesOddsMap['DAN']}}</td>
		<td><input type="text" class="stakes_input" ng-model="selectedBalls['DAN']" ng-pattern="/^\d+$/"/></td>
		<td>特双</td>
		<td>{{twoFacesOddsMap['SHUANG']}}</td>
		<td><input type="text" class="stakes_input" ng-model="selectedBalls['SHUANG']" ng-pattern="/^\d+$/"/></td>
		<td>特大</td>
		<td>{{twoFacesOddsMap['DA']}}</td>
		<td><input type="text" class="stakes_input" ng-model="selectedBalls['DA']" ng-pattern="/^\d+$/"/></td>
		<td>特小</td>
		<td>{{twoFacesOddsMap['XIAO']}}</td>
		<td><input type="text" class="stakes_input" ng-model="selectedBalls['XIAO']" ng-pattern="/^\d+$/"/></td>
	</tr>
	<tr>
		<td>合单</td>
		<td>{{twoFacesOddsMap['HEDAN']}}</td>
		<td><input type="text" class="stakes_input" ng-model="selectedBalls['HEDAN']" ng-pattern="/^\d+$/"/></td>
		<td>合双</td>
		<td>{{twoFacesOddsMap['HESHUANG']}}</td>
		<td><input type="text" class="stakes_input" ng-model="selectedBalls['HESHUANG']" ng-pattern="/^\d+$/"/></td>
		<td>合大</td>
		<td>{{twoFacesOddsMap['HEDA']}}</td>
		<td><input type="text" class="stakes_input" ng-model="selectedBalls['HEDA']" ng-pattern="/^\d+$/"/></td>
		<td>合小</td>
		<td>{{twoFacesOddsMap['HEXIAO']}}</td>
		<td><input type="text" class="stakes_input" ng-model="selectedBalls['HEXIAO']" ng-pattern="/^\d+$/"/></td>
	</tr>
	<tr>
		<td>特尾大</td>
		<td>{{twoFacesOddsMap['WEIDA']}}</td>
		<td><input type="text" class="stakes_input" ng-model="selectedBalls['WEIDA']" ng-pattern="/^\d+$/"/></td>
		<td>特尾小</td>
		<td>{{twoFacesOddsMap['WEIXIAO']}}</td>
		<td><input type="text" class="stakes_input" ng-model="selectedBalls['WEIXIAO']" ng-pattern="/^\d+$/"/></td>
		<td>合尾大</td>
		<td>{{twoFacesOddsMap['HEWEIDA']}}</td>
		<td><input type="text" class="stakes_input" ng-model="selectedBalls['HEWEIDA']" ng-pattern="/^\d+$/"/></td>
		<td>合尾小</td>
		<td>{{twoFacesOddsMap['HEWEIXIAO']}}</td>
		<td><input type="text" class="stakes_input" ng-model="selectedBalls['HEWEIXIAO']" ng-pattern="/^\d+$/"/></td>
	</tr>
	<tr>
		<td>家禽</td>
		<td>{{twoFacesOddsMap['JIAQIN']}}</td>
		<td><input type="text" class="stakes_input" ng-model="selectedBalls['JIAQIN']" ng-pattern="/^\d+$/"/></td>
		<td>野兽</td>
		<td>{{twoFacesOddsMap['YESHOU']}}</td>
		<td><input type="text" class="stakes_input" ng-model="selectedBalls['YESHOU']" ng-pattern="/^\d+$/"/></td>
		<td colspan="6"></td>
	</tr>
</table>