<table class="zodiac_table">
	<tr>
		<th>生肖</th>
		<th>号码</th>
		<th>赔率</th>
		<th>操作</th>
	</tr>
	<tr ng-repeat="zodiacItem in zodiacItems">
		<td>{{zodiacItem.name}}</td>
		<td>
			<div ng-repeat="ball in zodiacItem.balls"
				class="ball {{colorMap[ball]}}">{{ball}}</div>
		</td>
		<td>{{zodiacItem.odds}}</td>
		<td><input type="text" class="stakes_input" ng-model="selectedBalls[zodiacItem.id]"/></td>
	</tr>
</table>
<table class="zodiac_table">
	<tr>
		<th>色波</th>
		<th>赔率</th>
		<th>操作</th>
	</tr>
	<tr>
		<td style="color: red;">红波</td>
		<td>{{colorItems.red}}</td>
		<td><input type="text" class="stakes_input" ng-model="selectedBalls['RED']"/></td>
	</tr>
	<tr>
		<td style="color: blue;">蓝波</td>
		<td>{{colorItems.blue}}</td>
		<td><input type="text" class="stakes_input" ng-model="selectedBalls['BLUE']"/></td>
	</tr>
	<tr>
		<td style="color: green;">绿波</td>
		<td>{{colorItems.green}}</td>
		<td><input type="text" class="stakes_input" ng-model="selectedBalls['GREEN']"/></td>
	</tr>
</table>
<div class="clear"></div>
