<table class="zodiac_table" style="width:520px !important;">
	<tr>
		<th>生肖</th>
		<th>号码</th>
		<th>赔率</th>
		<th>注数</th>
	</tr>
	<tr ng-repeat="item in oneZodiacItems">
		<td>{{item.name}}</td>
		<td>
			<div ng-repeat="ball in item.balls"
				class="ball {{colorMap[ball]}}">{{ball}}</div>
		</td>
		<td>{{item.odds}}</td>
		<td><input type="text" class="stakes_input" ng-model="selectedBalls[item.id]" ng-pattern="/^\d+$/"/></td>
	</tr>
</table>
<table class="zodiac_table" style="width:320px !important;">
	<tr>
		<th>尾数</th>
		<th>赔率</th>
		<th>注数</th>
	</tr>
	<tr ng-repeat="num in [1,2,3,4,5,6,7,8,9,0]">
		<td>{{num}}尾</td>
		<td>{{tailNumOddsMap["TAIL_NUM#"+num]}}</td>
		<td><input type="text" class="stakes_input" ng-model="selectedBalls2[num]" ng-pattern="/^\d+$/"/></td>
	</tr>
</table>
<div class="clear"></div>