<div class="section">
    <button class="btn btn-success btn-sm pull-right" style="margin-top: -30px;margin-bottom: 5px" data-toggle="modal"
            data-target="#drawDialog" ng-show="isRoot">手动开奖
    </button>
    <table>
        <tr>
            <th rowspan="2">期数</th>
            <th rowspan="2">星期</th>
            <th rowspan="2">日期</th>
            <th rowspan="2">彩球号码</th>
            <th>特</th>
            <th>特</th>
            <th>特</th>
            <th rowspan="2">总分</th>
            <th>总</th>
            <th>总</th>
            <th rowspan="2">生肖</th>
            <th>合</th>
            <th>合</th>
            <th rowspan="2">一肖</th>
            <th rowspan="2">波段</th>
        </tr>
        <tr class="th_two">
            <th>(单双)</th>
            <th>(大小)</th>
            <th>(大中小)</th>
            <th>(单双)</th>
            <th>(大小)</th>
            <th>(单双)</th>
            <th>(大小)</th>
        </tr>
        <tr ng-repeat="lotteryMarkSix in lotteryMarkSixList">
            <td ng-bind="lotteryMarkSix.issue | issueProcessor"></td>
            <td ng-bind="lotteryMarkSix.timestamp | chineseWeek"></td>
            <td ng-bind="lotteryMarkSix.timestamp | date : 'yyyy-MM-dd'"></td>
            <td>
                <div class="{{colorMap[lotteryMarkSix.one]}} ball" ng-bind="lotteryMarkSix.one"></div>
                <div class="{{colorMap[lotteryMarkSix.two]}} ball" ng-bind="lotteryMarkSix.two"></div>
                <div class="{{colorMap[lotteryMarkSix.three]}} ball" ng-bind="lotteryMarkSix.three"></div>
                <div class="{{colorMap[lotteryMarkSix.four]}} ball" ng-bind="lotteryMarkSix.four"></div>
                <div class="{{colorMap[lotteryMarkSix.five]}} ball" ng-bind="lotteryMarkSix.five"></div>
                <div class="{{colorMap[lotteryMarkSix.six]}} ball" ng-bind="lotteryMarkSix.six"></div>
                <div class="{{colorMap[lotteryMarkSix.special]}} ball" ng-bind="lotteryMarkSix.special"
                     style="margin-left: 20px"></div>
            </td>
            <td ng-bind="lotteryMarkSix.special | specialDanShuang"></td>
            <td ng-bind="lotteryMarkSix.special | specialDaXiao"></td>
            <td ng-bind="lotteryMarkSix.special | specialDaZhongXiao"></td>
            <td ng-bind="lotteryMarkSix.one+lotteryMarkSix.two+lotteryMarkSix.three+lotteryMarkSix.four+lotteryMarkSix.five+lotteryMarkSix.six+lotteryMarkSix.special"></td>
            <td ng-bind="lotteryMarkSix.one+lotteryMarkSix.two+lotteryMarkSix.three+lotteryMarkSix.four+lotteryMarkSix.five+lotteryMarkSix.six+lotteryMarkSix.special | danShuang"></td>
            <td ng-bind="lotteryMarkSix.one+lotteryMarkSix.two+lotteryMarkSix.three+lotteryMarkSix.four+lotteryMarkSix.five+lotteryMarkSix.six+lotteryMarkSix.special | daXiao"></td>
            <td ng-bind="lotteryMarkSix.special | zodiac : lotteryMarkSix.timestamp"></td>
            <td ng-bind="lotteryMarkSix.special | heDanShuang"></td>
            <td ng-bind="lotteryMarkSix.special | heDaXiao"></td>
            <td><span ng-bind="lotteryMarkSix.one | zodiac: lotteryMarkSix.timestamp"></span>
                <span ng-bind="lotteryMarkSix.two | zodiac: lotteryMarkSix.timestamp"></span>
                <span ng-bind="lotteryMarkSix.three | zodiac: lotteryMarkSix.timestamp"></span>
                <span ng-bind="lotteryMarkSix.four | zodiac: lotteryMarkSix.timestamp"></span>
                <span ng-bind="lotteryMarkSix.five | zodiac: lotteryMarkSix.timestamp"></span>
                <span ng-bind="lotteryMarkSix.six | zodiac: lotteryMarkSix.timestamp"></span>
            </td>
            <td class="color_td {{colorMap[lotteryMarkSix.special]}}"
                ng-bind="colorMap[lotteryMarkSix.special] | wave"></td>
        </tr>
    </table>
    <div class="pagination-area">
        <uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-md"
                        items-per-page="itemsPerPage" ng-change="pageChanged()" previous-text="&lsaquo;"
                        next-text="&rsaquo;" first-text="&laquo;"
                        last-text="&raquo;"></uib-pagination>
    </div>
</div>
<div id="drawDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>

                <h3 class="title">手动开奖</h3>
            </div>
            <div class="modal-body">
                正码1：<input class="form-control" placeholder="请输入第1个号码" ng-model="draw.one"/>
                正码2：<input class="form-control" placeholder="请输入第2个号码" ng-model="draw.two"/>
                正码3：<input class="form-control" placeholder="请输入第3个号码" ng-model="draw.three"/>
                正码4：<input class="form-control" placeholder="请输入第4个号码" ng-model="draw.four"/>
                正码5：<input class="form-control" placeholder="请输入第5个号码" ng-model="draw.five"/>
                正码6：<input class="form-control" placeholder="请输入第6个号码" ng-model="draw.six"/>
                特码 ：<input class="form-control" placeholder="请输入特码" ng-model="draw.special"/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="fakeDraw()">保存</button>
                <button class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
            <div class="modal-footer">
                <div class="alert alert-danger">
                    <strong>手动开奖后，系统会进行结算，需要等待五分钟。结算期间的任何操作均无效~</strong>
                </div>
            </div>
        </div>
    </div>
</div>