<div style="margin-left:50px;margin-top:15px;">
	<input type="radio" name="jointSelect" id="jointSelect1"/><label for="jointSelect1">三全中</label>
	<input type="radio" name="jointSelect" id="jointSelect2"/><label for="jointSelect2">三中二</label>
	<input type="radio" name="jointSelect" id="jointSelect3"/><label for="jointSelect3">二全中</label>
	<input type="radio" name="jointSelect" id="jointSelect4"/><label for="jointSelect4">二中特</label>
	<input type="radio" name="jointSelect" id="jointSelect5"/><label for="jointSelect5">特串</label>
</div>
<table>
	<tr>
		<th>号码</th>
		<th>赔率</th>
		<th>选择</th>
		<th>号码</th>
		<th>赔率</th>
		<th>选择</th>
		<th>号码</th>
		<th>赔率</th>
		<th>选择</th>
		<th>号码</th>
		<th>赔率</th>
		<th>选择</th>
		<th>号码</th>
		<th>赔率</th>
		<th>选择</th>
	</tr>
	<tr ng-repeat="row in jointItems">
		<td colspan="3" ng-repeat="ball in row" style="border-right: 1px solid #1FADFB;">
			<div class="ball {{colorMap[ball.ball]}}">{{ball.ball}}</div>
			<div class="odds">{{ball.odds}}</div>
			<input type="radio" name="jointBall" class="jointBallRadio"/>
		</td>
		<td colspan="3" ng-if="$last">
		</td>
	</tr>
</table>
<a href="javascript:;" class="btn" style="float:right;margin-right:45px;margin-bottom:15px;">下注</a>