<div class="real-time-info-area">
    <div class="real-time-header"><span><a href="#">上一期</a></span>开奖期数：<span ng-bind="lotteryMarkSixInfo.issue"></span>开奖日：<span
            ng-bind="lotteryMarkSixInfo.date | date : 'yyyy-MM-dd'"></span>

        <div style="float: right;">
            <span>特码 即时注单</span>
            <span>成数：</span>
            <select>
                <option>全部</option>
                <option>成数</option>
            </select>
            <span>盘类：</span>
            <select>
                <option>全部</option>
                <option>A盘</option>
                <option>B盘</option>
                <option>C盘</option>
                <option>D盘</option>
            </select>
        </div>
    </div>
    <div class="real-time-tabs">
        <a href="#">特码（<span ng-bind="specialTransactionTotal"></span>）</a>
        <a href="#">合肖（<span>10000</span>）</a>
        <a href="#">正码（<span>10000</span>）</a>
        <a href="#">正码特（<span>10000</span>）</a>
        <a href="#">一肖尾数（<span>10000</span>）</a>
        <a href="#">连码（<span>10000</span>）</a>
        <a href="#">自选不中（<span>10000</span>）</a>
        <a href="#">连肖（<span>10000</span>）</a>
        <a href="#">连尾（<span>10000</span>）</a>
        <a href="#">全部（<span>10000</span>）</a>

    </div>
</div>

<div class="real-time-dashboard lottery-special-number">
    <div ng-repeat="subs in list">
        <table>
            <thead>
            <tr>
                <th>号码</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rt in subs">
                <td><span ng-bind="rt.number" class="ball ball{{rt.number}}"></span></td>
                <td ng-bind="rt.transactions"></td>
                <td>
                    <a href="#/stakesdetail/groupid/{{groupid}}/special/issue/{{lotteryMarkSixInfo.issue}}/ball/{{rt.number}}"><span
                            ng-bind="rt.stakes"></span></a></td>
                <td ng-bind="rt.odds"></td>
                <td ng-bind="rt.balance"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    合计：<span ng-bind="stats.specialTransactions"></span>, 金额：<span ng-bind="stats.specialStakes"></span>
</div>
<div class="real-time-dashboard lottery-special-type">
    <div ng-repeat="subs in specialtypelist">
        <table>
            <thead>
            <tr>
                <th>类别</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rt in subs">
                <td><span ng-bind="rt.lotteryMarkSixType" class="type"></span></td>
                <td ng-bind="rt.transactions"></td>
                <td ng-bind="rt.stakes"></td>
                <td ng-bind="rt.odds"></td>
                <td ng-bind="rt.balance"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<div>
    合计：<span ng-bind="stats.specialtypeTransactions"></span>, 金额：<span ng-bind="stats.specialtypeStakes"></span>
</div>
<div class="real-time-dashboard lottery-zodiac">
    <div ng-repeat="subs in animaltypelist">
        <table>
            <thead>
            <tr>
                <th>生肖</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rt in subs">
                <td><span ng-bind="rt.lotteryMarkSixType" class="type"></span></td>
                <td ng-bind="rt.transactions"></td>
                <td ng-bind="rt.stakes"></td>
                <td ng-bind="rt.odds"></td>
                <td ng-bind="rt.balance"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    合计：<span ng-bind="stats.animaltypeTransactions"></span>, 金额：<span ng-bind="stats.animaltypeStakes"></span>
</div>
<div class="real-time-dashboard lottery-zodiac">
    <div ng-repeat="subs in wavetypelist">
        <table>
            <thead>
            <tr>
                <th>半波</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rt in subs">
                <td><span ng-bind="rt.lotteryMarkSixType" class="type"></span></td>
                <td ng-bind="rt.transactions"></td>
                <td ng-bind="rt.stakes"></td>
                <td ng-bind="rt.odds"></td>
                <td ng-bind="rt.balance"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    合计：<span ng-bind="stats.wavetypeTransactions"></span>, 金额：<span ng-bind="stats.wavetypeStakes"></span>
</div>
<div class="real-time-dashboard lottery-zodiac">
    <div>
        <table>
            <thead>
            <tr>
                <th>类别</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rt in othertypelist[0]">
                <td><span ng-bind="rt.lotteryMarkSixType" class="type"></span></td>
                <td ng-bind="rt.transactions"></td>
                <td ng-bind="rt.stakes"></td>
                <td ng-bind="rt.odds"></td>
                <td ng-bind="rt.balance"></td>
            </tr>
            <tr>
                <td colspan="5">合计：<span ng-bind="stats.specialtailtypeTransactions"></span>, 金额：<span
                        ng-bind="stats.specialtailtypeStakes"></span>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>色波</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rt in othertypelist[1]">
                <td><span ng-bind="rt.lotteryMarkSixType" class="type"></span></td>
                <td ng-bind="rt.transactions"></td>
                <td ng-bind="rt.stakes"></td>
                <td ng-bind="rt.odds"></td>
                <td ng-bind="rt.balance"></td>
            </tr>
            <tr>
                <td colspan="5">合计：<span ng-bind="stats.colortypeTransactions"></span>, 金额：<span
                        ng-bind="stats.colortypeStakes"></span>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>特大中小</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rt in othertypelist[2]">
                <td><span ng-bind="rt.lotteryMarkSixType" class="type"></span></td>
                <td ng-bind="rt.transactions"></td>
                <td ng-bind="rt.stakes"></td>
                <td ng-bind="rt.odds"></td>
                <td ng-bind="rt.balance"></td>
            </tr>
            <tr>
                <td colspan="5">合计：<span ng-bind="stats.bstypeTransactions"></span>, 金额：<span
                        ng-bind="stats.bstypeStakes"></span>
            </tr>
            </tbody>
        </table>
    </div>
</div>