<div class="real-time-dashboard lottery-special-number">
    <div ng-repeat="subs in list">
        <table>
            <thead>
            <tr>
                <th>号码</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rt in subs">
                <td><span ng-bind="rt.number" class="ball ball{{rt.number}}"></span></td>
                <td ng-bind="rt.transactions"></td>
                <td>
                    <a ng-show="rt.stakes > 0" href="#/stakesdetail/groupid/{{groupid}}/pan/{{selectedPan.name}}/special/issue/{{lotteryMarkSixInfo.issue}}/ball/{{rt.number}}"><span
                            ng-bind="rt.stakes"></span></a>
                    <span ng-show="rt.stakes == 0">0</span>
                </td>
                <td ng-bind="rt.odds"></td>
                <td ng-bind="rt.balance"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    合计：<strong ng-bind="stats.specialTransactions"></strong> 笔,&nbsp;金额：<strong ng-bind="stats.specialStakes"></strong>
</div>
<div class="real-time-dashboard lottery-special-type">
    <div ng-repeat="subs in specialtypelist">
        <table>
            <thead>
            <tr>
                <th>类别</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rt in subs">
                <td><span ng-bind="rt.lotteryMarkSixType" class="type"></span></td>
                <td ng-bind="rt.transactions"></td>
                <td ng-bind="rt.stakes"></td>
                <td ng-bind="rt.odds"></td>
                <td ng-bind="rt.balance"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<div>
    合计：<strong ng-bind="stats.specialtypeTransactions"></strong>,&nbsp;金额：<strong ng-bind="stats.specialtypeStakes"></strong>
</div>
<div class="real-time-dashboard lottery-zodiac">
    <div ng-repeat="subs in animaltypelist">
        <table>
            <thead>
            <tr>
                <th>生肖</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rt in subs">
                <td><span ng-bind="rt.lotteryMarkSixType" class="type"></span></td>
                <td ng-bind="rt.transactions"></td>
                <td ng-bind="rt.stakes"></td>
                <td ng-bind="rt.odds"></td>
                <td ng-bind="rt.balance"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    合计：<strong ng-bind="stats.animaltypeTransactions"></strong>,&nbsp;金额：<strong ng-bind="stats.animaltypeStakes"></strong>
</div>
<div class="real-time-dashboard lottery-zodiac">
    <div ng-repeat="subs in wavetypelist">
        <table>
            <thead>
            <tr>
                <th>半波</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rt in subs">
                <td><span ng-bind="rt.lotteryMarkSixType" class="type"></span></td>
                <td ng-bind="rt.transactions"></td>
                <td ng-bind="rt.stakes"></td>
                <td ng-bind="rt.odds"></td>
                <td ng-bind="rt.balance"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    合计：<strong ng-bind="stats.wavetypeTransactions"></strong>,&nbsp;金额：<strong ng-bind="stats.wavetypeStakes"></strong>
</div>
<div class="real-time-dashboard lottery-zodiac">
    <div>
        <table>
            <thead>
            <tr>
                <th>类别</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rt in othertypelist[0]">
                <td><span ng-bind="rt.lotteryMarkSixType" class="type"></span></td>
                <td ng-bind="rt.transactions"></td>
                <td ng-bind="rt.stakes"></td>
                <td ng-bind="rt.odds"></td>
                <td ng-bind="rt.balance"></td>
            </tr>
            <tr>
                <td colspan="5">合计：<span ng-bind="stats.specialtailtypeTransactions"></span>, 金额：<span
                        ng-bind="stats.specialtailtypeStakes"></span>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>色波</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rt in othertypelist[1]">
                <td><span ng-bind="rt.lotteryMarkSixType" class="type"></span></td>
                <td ng-bind="rt.transactions"></td>
                <td ng-bind="rt.stakes"></td>
                <td ng-bind="rt.odds"></td>
                <td ng-bind="rt.balance"></td>
            </tr>
            <tr>
                <td colspan="5">合计：<span ng-bind="stats.colortypeTransactions"></span>, 金额：<span
                        ng-bind="stats.colortypeStakes"></span>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>特大中小</th>
                <th>笔数</th>
                <th>金额</th>
                <th>赔率</th>
                <th>输赢</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rt in othertypelist[2]">
                <td><span ng-bind="rt.lotteryMarkSixType" class="type"></span></td>
                <td ng-bind="rt.transactions"></td>
                <td ng-bind="rt.stakes"></td>
                <td ng-bind="rt.odds"></td>
                <td ng-bind="rt.balance"></td>
            </tr>
            <tr>
                <td colspan="5">合计：<span ng-bind="stats.bstypeTransactions"></span>, 金额：<span
                        ng-bind="stats.bstypeStakes"></span>
            </tr>
            </tbody>
        </table>
    </div>
</div>