<div class="real-time-align-left real-time-all">
    <div>
        <table>
            <thead>
                <tr>
                    <th>项目</th>
                    <th>下注笔数</th>
                    <th>下注金额</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stat in allStats">
                    <td ng-bind="stat.lotteryMarkSixTypeName"></td>
                    <td>
                        <a ng-if="stat.transactions > 0" href="#/stakesdetail/groupid/{{groupid}}/pan/{{selectedPan.name}}/{{stat.lotteryMarkSixType}}/issue/{{lotteryMarkSixInfo.issue}}/ball/0?isAll=true"><span
                            ng-bind="stat.transactions"></span></a>
                        <span ng-if="stat.transactions == 0">0</span>
                    </td>
                    <td ng-bind="stat.stakes"></td>
                </tr>
                <tr>
                    <td><strong>合计</strong></td>
                    <td><strong ng-bind="allStatsTotalTransactions"></strong></td>
                    <td><strong ng-bind="allStatsTotalStakes"></strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
