<div class="real-time-info-area">
    <div class="real-time-header"><span><a href="#">上一期</a></span>开奖期数：<span ng-bind="lotteryMarkSixInfo.issue"></span>开奖日：<span
            ng-bind="lotteryMarkSixInfo.date | date : 'yyyy-MM-dd'"></span>

        <div style="float: right;">
            <span>特码 即时注单</span>
            <span>成数：</span>
            <select>
                <option>全部</option>
                <option>成数</option>
            </select>
            <span>盘类：</span>
            <select>
                <option>全部</option>
                <option>A盘</option>
                <option>B盘</option>
                <option>C盘</option>
                <option>D盘</option>
            </select>
        </div>
    </div>
    <div class="real-time-tabs">
        <a ng-click="goto('special')" class="real-time-tab">特码（<span ng-bind="specialTransactionTotal"></span>）</a>
        <a ng-click="goto('hexiao')" class="real-time-tab">合肖（<span>10000</span>）</a>
        <a ng-click="goto('hexiao')" class="real-time-tab">正码（<span>10000</span>）</a>
        <a ng-click="goto('hexiao')" class="real-time-tab">正码特（<span>10000</span>）</a>
        <a ng-click="goto('hexiao')" class="real-time-tab">一肖尾数（<span>10000</span>）</a>
        <a ng-click="goto('hexiao')" class="real-time-tab">连码（<span>10000</span>）</a>
        <a ng-click="goto('hexiao')" class="real-time-tab">自选不中（<span>10000</span>）</a>
        <a ng-click="goto('hexiao')" class="real-time-tab">连肖（<span>10000</span>）</a>
        <a ng-click="goto('hexiao')" class="real-time-tab">连尾（<span>10000</span>）</a>
        <a ng-click="goto('hexiao')" class="real-time-tab">全部（<span>10000</span>）</a>

    </div>
</div>

<div ng-include="page">
</div>