<div>
    <p ng-if="reportDateType == 1" class="alert alert-warning">
        请注意: <span class="color-red">历史帐仅提供已结算数据报表</span>, 若日期区间含本日({{curDate | date : 'yyyy-MM-dd'}}), 
        且<span class="color-red">该日帐未结算时以本日帐报表为准</span> (时时彩结算时间为昱日0300後)
    </p>
    
    <table ng-if="groupSummaryList.length > 0">
        <thead>
            <tr><th colspan="8">代理商报表</th></tr>
            <tr>
                <th>帐号名称</th>
                <th>下注金额</th>
    			<th>会员结果</th>
    			<th>公司结果</th>
    			<th>走飞金额</th>
    			<th>走飞结果</th>
    			<th>公司总计</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="summary in groupSummaryList">
                <td ng-bind="summary.pgroup.name"></td>
                <td>
                    <a ng-bind="summary.totalStakes | currency: '￥'" href="#resultdetail?parentGroupId={{summary.pgroup.id}}&subGroupId=ALL&reportType=ALL&reportDateType={{reportDateType}}&start={{start}}&end={{end}}"></a>
                </td>
                <td><span ng-bind="summary.userResult | currency: '￥'"></span></td>
                <td><span ng-bind="summary.pgroupResult | currency: '￥'"></span></td>
                <td><span ng-bind="summary.zoufeiStakes | currency: '￥'"></span></td>
                <td><span ng-bind="summary.zoufeiResult | currency: '￥'"></span></td>
                <td><span ng-bind="summary.pgroupTotalResult | currency: '￥'"></span></td>
                <td><span ng-bind="summary.remark"></span></td>
            </tr>
        </tbody>
    </table>
    
    <table ng-if="userSummaryList.length > 0">
        <thead>
            <tr><th colspan="5">直属会员报表</th></tr>
            <tr>
                <th>帐号名称</th>
                <th>下注金额</th>
                <th>有效投注</th>
                <th>退水</th>
                <th>结果</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="summary in userSummaryList">
                <td ng-bind="summary.user.username"></td>
                <td>
                    <a ng-bind="summary.stakes | currency: '￥'" href="#"></a>
                </td>
                <td ng-bind="summary.validStakes | currency: '￥'"></td>
                <td ng-bind="summary.tuishui | currency: '￥'"></td>
                <td ng-bind="summary.result | currency: '￥'"></td>
            </tr>
            <tr>
                <th style="text-align: center;">合计</th>
                <th ng-bind="userStakesTotal  | currency: '￥'"></th>
                <th ng-bind="userValidStakesTotal  | currency: '￥'"></th>
                <th ng-bind="userTuishuiTotal  | currency: '￥'"></th>
                <th ng-bind="userResultTotal | currency: '￥'"></th>
            </tr>
        </tbody>
    </table>
    
    <table ng-if="wagerTypeReportList.length > 0">
        <thead>
            <tr><th colspan="8">六合彩</th></tr>
            <tr>
                <th>下注种类</th>
                <th>笔数</th>
                <th>下注金额</th>
                <th>会员结果</th>
                <th>公司结果</th>
                <th>走飞金额</th>
                <th>走飞结果</th>
                <th>公司总计</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="report in wagerTypeReportList">
                <td ng-bind="report.wagerTypeName"></td>
                <td ng-bind="report.totalTransactions"></td>
                <td>
                    <a ng-bind="report.totalStakes | currency: '￥'" href=""></a>
                </td>
                <td><span ng-bind="report.userResult | currency: '￥'"></span></td>
                <td><span ng-bind="report.pgroupResult | currency: '￥'"></span></td>
                <td><span ng-bind="report.zoufeiStakes | currency: '￥'"></span></td>
                <td><span ng-bind="report.zoufeiResult | currency: '￥'"></span></td>
                <td><span ng-bind="report.pgroupTotalResult | currency: '￥'"></span></td>
            </tr>
        </tbody>
    </table>
</div>

