<div>
    <div class="form-group">
        <label>盘类：</label>
        <select class="form-control panlei" ng-model="selectedPan" ng-init="selectedPan=pans.panlei[0]"
                ng-options="pan.title for pan in pans.panlei track by pan.name"
                ng-change="getOdds()"></select>
    </div>

    <uib-tabset justified="true">
        <uib-tab heading="特码">
            <div ng-include="'includes/settings/special.html'"></div>
        </uib-tab>
        <uib-tab heading="两面">
            <div ng-include="'includes/settings/two_faces.html'"></div>
        </uib-tab>
        <uib-tab heading="生肖色波">
            <div ng-include="'includes/settings/zodiac.html'"></div>
        </uib-tab>
        <uib-tab heading="半波">
            <div ng-include="'includes/settings/halfwaves.html'"></div>
        </uib-tab>
        <uib-tab heading="合肖">
            <div ng-include="'includes/settings/sumzodiac.html'"></div>
        </uib-tab>
        <uib-tab heading="正码">
            <div ng-include="'includes/settings/zhengball.html'"></div>
        </uib-tab>
        <uib-tab heading="正码1~6">
            <div ng-include="'includes/settings/zheng16.html'"></div>
        </uib-tab>
        <uib-tab heading="正码特">
            <div ng-include="'includes/settings/zhengspecial.html'"></div>
        </uib-tab>
        <uib-tab heading="连码">
            <div ng-include="'includes/settings/jointball.html'"></div>
        </uib-tab>
        <uib-tab heading="自选不中">
            <div ng-include="'includes/settings/notball.html'"></div>
        </uib-tab>
        <uib-tab heading="过关">
            <div ng-include="'includes/settings/passball.html'"></div>
        </uib-tab>
        <uib-tab heading="一肖尾数">
            <div ng-include="'includes/settings/zodiactail.html'"></div>
        </uib-tab>
        <uib-tab heading="连肖">
            <div ng-include="'includes/settings/jointzodiac.html'"></div>
        </uib-tab>
    </uib-tabset>
</div>

<div id="oddsDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>

                <h3 class="title">修改</h3>
            </div>
            <div class="modal-body">
                <input class="form-control" placeholder="请输入赔率" ng-model="oddsToChange"/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="changeOdds()">保存</button>
                <button class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
