<div class="real-time-dashboard lottery-special-number">
    <table>
        <thead>
        <tr>
            <th>单号 / 时间</th>
            <th>会员 / 退水</th>
            <th>盘类 / 期数 / 开奖日期</th>
            <th>下注内容</th>
            <th>赔率</th>
            <th>下注金额</th>
            <th>退水</th>
            <th>结果</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="wager in wagerList">
            <td ng-bind="wager.ts | date : 'yyyy-MM-dd HH:mm:ss'"></td>
            <td>
                <a ng-if="userLinkEnabled" href="#/stakesdetail/user/{{wager.user.id}}/groupid/{{groupId}}/issue/{{wager.issue}}" ng-bind="wager.user.username"></a>
                <span ng-if="!userLinkEnabled" ng-bind="wager.user.username"></span> / 
                <span style="color:green" ng-bind="wager.tuishui"></span></td>
            <td>
                <span ng-bind="wager.panlei"></span>盘 / 
                <span ng-bind="wager.issue | issueProcessor"></span>期 /
                <span style="color:green" ng-bind="wager.openTs | date : 'yyyy-MM-dd'"></span>
            </td>
            <td ng-bind="wager.wageContent"></td>
            <td ng-bind="wager.odds"></td>
            <td ng-bind="wager.stakes"></td>
            <td ng-bind="wager.tuishui2"></td>
            <td ng-bind="wager.result"></td>
            <td ng-bind="wager.remark"></td>
        </tr>
        </tbody>
    </table>
</div>
